{{#if paging.totalResults ~}}
<p class="search-info">
  <strong>Total results:</strong> {{addCommas paging.totalResults}} {{#compare paging.totalPages ">" 1}}|
  <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}{{/compare}}
</p>
{{else}}
{{#ifAny phase @root.request.params.query.region @root.request.params.query.sector @root.request.params.query.location @root.request.params.query.job_number @root.request.params.query.q ~}}
<p class="search-info">
  No results, please try a different search query
</p>
{{/ifAny ~}}
{{/if ~}}