<div class="columns detail">
  <div class="column col-9 col-md-12 r-padding-full">
    <img src="{{~>asset_url url=(concat 'images/getting-started.png')~}}" alt="" class="responsive-img text-center show-sm b-margin-full b-padding-full" />
    <h1>Error 404: Page not found</h1>
    <p>
      Sorry, the page could not be found. There may be a missing page or incorrect link. Please go back to the previous page and try another link.
    </p>
  </div>
  <div class="column col-3 col-md-6 hide-sm l-padding-full" style="margin: 0 auto;">
    <img src="{{~>asset_url url=(concat 'images/getting-started.png')~}}" alt="" class="responsive-img" />
  </div>
</div>