<div class="title">
  <h1>Accessibility</h1>
  <p>
    We want connecting.scot to be accessible and usable for as many people as possible.
  </p>
  <p>
    We try to make our site more accessible by using:
  </p>
  <ul>
    <li>high contrast colours</li>
    <li>larger fonts</li>
    <li>plain English</li>
    <li>keyboard only navigation</li>
  </ul>

  <h2 id="feedback">Feedback</h2>
  <p>
    If you cannot access any part of this site or want to report an accessibility problem, please tell us by emailing <a href="mailto:help@connecting.scot">help@connecting.scot</a>.
  </p>

  <h2 id="enforcement-procedure">Enforcement procedure</h2>
  <p>
    The Equality and Human Rights Commission enforces the <a href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">accessibility regulations</a> (the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018).
  </p>
  <p>
    If you're not happy with how we respond to your feedback, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service</a>. They are an independent advice service. They will advise you on what to do next.
  </p>

  <h2 id="compliance-statement">Compliance statement</h2>
  <p>
    SCVO commits to making its websites accessible in line with the accessibility regulations. This accessibility statement applies to connecting.scot. It was prepared on 6 May 2020.
  </p>
  <p>
    This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> (WCAG) A and AA success criteria.
  </p>
  <p>
    An external accessibility expert audited the website in May 2020. Most issues found were fixed. The following issues were not.
  </p>
  <h3 id="non-accessible-content">Non-accessible content</h3>
  <h4 id="not-compliant-with-the-accessibility-regulations">Not compliant with the accessibility regulations</h4>
  <ol>
    <li>
      <p>"Words remaining" form functionality isn’t announced to assistive technology</p>
    </li>
    <li>
      <p>Form error messages are presented one at a time rather than all out once</p>
    </li>
  </ol>
</div>
