
<div class="title t-padding-full">
  {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
  {{/if ~}}

  <div class="columns  t-margin-full t-padding-full">
    <div class="column col-6 col-lg-12 v-margin-full">
      <div class="text-center"><span class="fal fa-fw fa-users fa-4x">&nbsp;</span></div>
      <h2>
        <a href="/citizens" style="text-decoration:none;">Citizens</a>
      </h2>
      <p aria-hidden="true">
        Information on supporting friends and family with digital skills
      </p>
      <p class="card-footer">
        <a href="/citizens" aria-label="Information on supporting friends and family with digital skills">Find out more</a>
      </p>
    </div>
    <div class="column col-6 col-lg-12 v-margin-full show-md">
      <iframe style="padding-right:2rem;" width="100%" height="315" src="https://www.youtube.com/embed/UlooStgKZG0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column col-6 col-lg-12 v-margin-full">
      <div class="text-center"><span class="fal fa-fw fa-edit fa-4x">&nbsp;</span></div>
      <h2>
        <a href="/organisations" style="text-decoration:none;">Organisations</a>
      </h2>
      <p aria-hidden="true">
        Find out how organisations can get involved in the Connecting Scotland Programme
      </p>
      <p class="card-footer">
        <a href="/organisations" aria-label="Find out how organisations can get involved in the Connecting Scotland Programme">Find out more</a>
      </p>
    </div>
    <div class="column col-6 col-lg-12 v-margin-full hide-md">
      <iframe style="padding-right:2rem;" width="100%" height="315" src="https://www.youtube.com/embed/UlooStgKZG0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column col-6 col-lg-12 v-margin-full">
      <div class="text-center"><span class="fal fa-fw fa-user-headset fa-4x">&nbsp;</span></div>
      <h2>
        <a href="/digital-champions" style="text-decoration:none;">Digital Champions</a>
      </h2>
      <p aria-hidden="true">
        Resources for Digital Champions in the Connecting Scotland Programme
      </p>
      <p class="card-footer">
        <a href="/digital-champions" aria-label="Resources for Digital Champions in the Connecting Scotland Programme">Find out more</a>
      </p>
    </div>
  </div>
</div>