<div class="columns detail">
  <div class="column col-9 col-md-12 r-padding-full">
    <img src="{{~>asset_url url=(concat 'images/getting-started.png')~}}" alt="" class="responsive-img text-center show-sm b-margin-full b-padding-full" />
    {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    {{/if ~}}
  </div>
  <div class="column col-3 col-md-6 hide-sm l-padding-full" style="margin: 0 auto;">
    <img src="{{~>asset_url url=(concat 'images/getting-started.png')~}}" alt="" class="responsive-img" />
  </div>
</div>