<div class="columns title">
  <div class="column col-8 col-md-12">
    <img src="{{~>asset_url url='images/home.png'~}}" alt="Illustration" class="responsive-img text-center show-sm b-margin-full b-padding-full" />
    {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    {{/if ~}}
  </div>
  <div class="column col-4 col-md-6 hide-sm l-padding-full align-centre" style="margin: 0 auto;">
    <img src="{{~>asset_url url='images/home.png'~}}" alt="Illustration" class="responsive-img" />
  </div>
</div>
