<div class="detail">
  <div class="columns">
    <div class="column col-9 col-md-12 b-padding-full r-padding-full">
      {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
      {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
      {{/if ~}}
    </div>
    <div class="column col-3 col-lg-4 col-md-6 col-sm-10 l-padding-full" style="margin: auto auto 0;">
      <img src="{{~>asset_url url=(concat 'images/' (replace @root.request.url.pathname '/' '') '.png')~}}" alt="" class="responsive-img" />
    </div>
  </div>
  <hr style="margin-top:-.4rem;" />

  <!-- FORM: HEAD SECTION -->
  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    const FORM_TIME_START = Math.floor((new Date).getTime() / 1000);
    let formElement = document.getElementById("tfa_0");
    if (null === formElement) {
      formElement = document.getElementById("0");
    }
    let appendJsTimerElement = function() {
      let formTimeDiff = Math.floor((new Date).getTime() / 1000) - FORM_TIME_START;
      let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
      if (null !== cumulatedTimeElement) {
        let cumulatedTime = parseInt(cumulatedTimeElement.value);
        if (null !== cumulatedTime && cumulatedTime > 0) {
          formTimeDiff += cumulatedTime;
        }
      }
      let jsTimeInput = document.createElement("input");
      jsTimeInput.setAttribute("type", "hidden");
      jsTimeInput.setAttribute("value", formTimeDiff.toString());
      jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
      jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
      jsTimeInput.setAttribute("autocomplete", "off");
      if (null !== formElement) {
        formElement.appendChild(jsTimeInput);
      }
    };
    if (null !== formElement) {
      if (formElement.addEventListener) {
        formElement.addEventListener('submit', appendJsTimerElement, false);
      } else if (formElement.attachEvent) {
        formElement.attachEvent('onsubmit', appendJsTimerElement);
      }
    }
  });
  </script>

  <link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=a8af7780376f5075b9a550ea3b6e7fbc" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
  <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=a8af7780376f5075b9a550ea3b6e7fbc"></script>
  <script type="text/javascript">
  wFORMS.behaviors.prefill.skip = false;
  </script>
  <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=a8af7780376f5075b9a550ea3b6e7fbc"></script>

  <!-- FORM: BODY SECTION -->
  <div class="wFormContainer" style="max-width: 100%; width:auto;">
    <div class="wFormHeader"></div>
    <div class="wForm" id="0-WRPR" dir="ltr">
      <div class="codesection" id="code-0"></div>
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form-horizontal" id="0" role="form">
        <div id="tfa_6" class="section">
          <h2 id="tfa_6-L" class="t-margin-full t-padding-full">About you</h2>
          <div class="form-group field-container-D" id="tfa_1-D">
            <label id="tfa_1-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_1">First name</label>
            <input type="text" id="tfa_1" name="tfa_1" value="" title="First name" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_2-D">
            <label id="tfa_2-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_2">Last name</label>
            <input type="text" id="tfa_2" name="tfa_2" value="" title="Last name" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_3-D">
            <label id="tfa_3-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_3">Job title</label>
            <input type="text" id="tfa_3" name="tfa_3" value="" title="Job title" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_4-D">
            <label id="tfa_4-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_4">Email</label>
            <input type="email" id="tfa_4" name="tfa_4" value="" title="Email" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_5-D">
            <label id="tfa_5-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_5">Phone</label>
            <input type="text" id="tfa_5" name="tfa_5" value="" title="Phone" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
        </div>
        <div id="tfa_7" class="section">
          <h2 id="tfa_7-L" class="t-margin-full t-padding-full">About your organisation</h2>
          <div class="form-group field-container-D" id="tfa_8-D">
            <label id="tfa_8-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_8">Organisation name</label>
            <input type="text" id="tfa_8" name="tfa_8" value="" title="Organisation name" class="form-input col-7 col-lg-7 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_9-D">
            <label id="tfa_9-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_9">Organisation type</label>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_9" name="tfa_9" title="Organisation type" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_10" id="tfa_10" data-conditionals="#tfa_13" class="">Public sector</option>
                <option value="tfa_11" id="tfa_11" data-conditionals="#tfa_18" class="">Voluntary sector</option>
                <option value="tfa_12" id="tfa_12" class="">Private sector</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_13-D">
            {{!-- <label id="tfa_13-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_13">Are you</label> --}}
            <div class="col-3 col-lg-4 col-md-6 col-sm-12">
              <label id="tfa_13-L" class="hidden form-label preField" for="tfa_13">Are you</label>
            </div>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_13" name="tfa_13" data-condition="`#tfa_10`" title="Are you" class="form-select">
                <option value="" disabled selected>Are you...</option>
                <option value="tfa_14" id="tfa_14" class="">NHS / Health</option>
                <option value="tfa_15" id="tfa_15" class="">Local Authority</option>
                <option value="tfa_16" id="tfa_16" class="">National public body</option>
                <option value="tfa_17" id="tfa_17" class="">Regional or local public body</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_18-D">
            <div class="col-3 col-lg-4 col-md-6 col-sm-12"></div>
            <input type="text" id="tfa_18" name="tfa_18" value="" data-condition="`#tfa_11`" title="Scottish Charity Number (if applicable)" placeholder="Scottish Charity Number (if applicable)" class="form-input col-4 col-lg-5 col-md-6 col-sm-12" autocomplete="nope" data-lpignore="true">
          </div>
          <div class="form-group field-container-D" id="tfa_19-D">
            <label id="tfa_19-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_19">Do you work</label>
            <div class="input-group col-4 col-md-6 col-sm-12">
              <select id="tfa_19" name="tfa_19" title="Do you work" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_20" id="tfa_20" class="">Across Scotland</option>
                <option value="tfa_21" id="tfa_21" data-conditionals="#tfa_23" class="">Across more than one Local Authority area</option>
                <option value="tfa_22" id="tfa_22" data-conditionals="#tfa_23" class="">Within one Local Authority area</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_23-D" role="group" aria-labelledby="tfa_23-L" data-tfa-labelledby="-L tfa_23-L">
            <span id="tfa_23" class="choices vertical" data-condition="`#tfa_21` OR `#tfa_22`">
              <label id="tfa_23-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField">Which area(s) do you work in?</label>

              <div class="columns">
                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_24-L" for="tfa_24">
                    <input type="checkbox" value="tfa_24" class="" id="tfa_24" name="tfa_24" aria-labelledby="tfa_24-L" data-tfa-labelledby="tfa_23-L tfa_24-L">
                    <i class="form-icon"></i> Aberdeen
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_25-L" for="tfa_25">
                    <input type="checkbox" value="tfa_25" class="" id="tfa_25" name="tfa_25" aria-labelledby="tfa_25-L" data-tfa-labelledby="tfa_23-L tfa_25-L">
                    <i class="form-icon"></i> Aberdeenshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_26-L" for="tfa_26">
                    <input type="checkbox" value="tfa_26" class="" id="tfa_26" name="tfa_26" aria-labelledby="tfa_26-L" data-tfa-labelledby="tfa_23-L tfa_26-L">
                    <i class="form-icon"></i> Angus
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_27-L" for="tfa_27">
                    <input type="checkbox" value="tfa_27" class="" id="tfa_27" name="tfa_27" aria-labelledby="tfa_27-L" data-tfa-labelledby="tfa_23-L tfa_27-L">
                    <i class="form-icon"></i> Argyll &amp; Bute
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_28-L" for="tfa_28">
                    <input type="checkbox" value="tfa_28" class="" id="tfa_28" name="tfa_28" aria-labelledby="tfa_28-L" data-tfa-labelledby="tfa_23-L tfa_28-L">
                    <i class="form-icon"></i> Clackmannanshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_29-L" for="tfa_29">
                    <input type="checkbox" value="tfa_29" class="" id="tfa_29" name="tfa_29" aria-labelledby="tfa_29-L" data-tfa-labelledby="tfa_23-L tfa_29-L">
                    <i class="form-icon"></i> Dumfries &amp; Galloway
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_30-L" for="tfa_30">
                    <input type="checkbox" value="tfa_30" class="" id="tfa_30" name="tfa_30" aria-labelledby="tfa_30-L" data-tfa-labelledby="tfa_23-L tfa_30-L">
                    <i class="form-icon"></i> Dundee
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_31-L" for="tfa_31">
                    <input type="checkbox" value="tfa_31" class="" id="tfa_31" name="tfa_31" aria-labelledby="tfa_31-L" data-tfa-labelledby="tfa_23-L tfa_31-L">
                    <i class="form-icon"></i> East Ayrshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_32-L" for="tfa_32">
                    <input type="checkbox" value="tfa_32" class="" id="tfa_32" name="tfa_32" aria-labelledby="tfa_32-L" data-tfa-labelledby="tfa_23-L tfa_32-L">
                    <i class="form-icon"></i> East Dunbartonshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_33-L" for="tfa_33">
                    <input type="checkbox" value="tfa_33" class="" id="tfa_33" name="tfa_33" aria-labelledby="tfa_33-L" data-tfa-labelledby="tfa_23-L tfa_33-L">
                    <i class="form-icon"></i> East Lothian
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_34-L" for="tfa_34">
                    <input type="checkbox" value="tfa_34" class="" id="tfa_34" name="tfa_34" aria-labelledby="tfa_34-L" data-tfa-labelledby="tfa_23-L tfa_34-L">
                    <i class="form-icon"></i> East Renfrewshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_35-L" for="tfa_35">
                    <input type="checkbox" value="tfa_35" class="" id="tfa_35" name="tfa_35" aria-labelledby="tfa_35-L" data-tfa-labelledby="tfa_23-L tfa_35-L">
                    <i class="form-icon"></i> Edinburgh
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_36-L" for="tfa_36">
                    <input type="checkbox" value="tfa_36" class="" id="tfa_36" name="tfa_36" aria-labelledby="tfa_36-L" data-tfa-labelledby="tfa_23-L tfa_36-L">
                    <i class="form-icon"></i> Falkirk
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_37-L" for="tfa_37">
                    <input type="checkbox" value="tfa_37" class="" id="tfa_37" name="tfa_37" aria-labelledby="tfa_37-L" data-tfa-labelledby="tfa_23-L tfa_37-L">
                    <i class="form-icon"></i> Fife
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_38-L" for="tfa_38">
                    <input type="checkbox" value="tfa_38" class="" id="tfa_38" name="tfa_38" aria-labelledby="tfa_38-L" data-tfa-labelledby="tfa_23-L tfa_38-L">
                    <i class="form-icon"></i> Glasgow
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_39-L" for="tfa_39">
                    <input type="checkbox" value="tfa_39" class="" id="tfa_39" name="tfa_39" aria-labelledby="tfa_39-L" data-tfa-labelledby="tfa_23-L tfa_39-L">
                    <i class="form-icon"></i> Highland
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_40-L" for="tfa_40">
                    <input type="checkbox" value="tfa_40" class="" id="tfa_40" name="tfa_40" aria-labelledby="tfa_40-L" data-tfa-labelledby="tfa_23-L tfa_40-L">
                    <i class="form-icon"></i> Inverclyde
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_41-L" for="tfa_41">
                    <input type="checkbox" value="tfa_41" class="" id="tfa_41" name="tfa_41" aria-labelledby="tfa_41-L" data-tfa-labelledby="tfa_23-L tfa_41-L">
                    <i class="form-icon"></i> Midlothian
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_42-L" for="tfa_42">
                    <input type="checkbox" value="tfa_42" class="" id="tfa_42" name="tfa_42" aria-labelledby="tfa_42-L" data-tfa-labelledby="tfa_23-L tfa_42-L">
                    <i class="form-icon"></i> Moray
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_43-L" for="tfa_43">
                    <input type="checkbox" value="tfa_43" class="" id="tfa_43" name="tfa_43" aria-labelledby="tfa_43-L" data-tfa-labelledby="tfa_23-L tfa_43-L">
                    <i class="form-icon"></i> Na h-Eileanan Siar
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_44-L" for="tfa_44">
                    <input type="checkbox" value="tfa_44" class="" id="tfa_44" name="tfa_44" aria-labelledby="tfa_44-L" data-tfa-labelledby="tfa_23-L tfa_44-L">
                    <i class="form-icon"></i> North Ayrshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_45-L" for="tfa_45">
                    <input type="checkbox" value="tfa_45" class="" id="tfa_45" name="tfa_45" aria-labelledby="tfa_45-L" data-tfa-labelledby="tfa_23-L tfa_45-L">
                    <i class="form-icon"></i> North Lanarkshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_46-L" for="tfa_46">
                    <input type="checkbox" value="tfa_46" class="" id="tfa_46" name="tfa_46" aria-labelledby="tfa_46-L" data-tfa-labelledby="tfa_23-L tfa_46-L">
                    <i class="form-icon"></i> Orkney
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_47-L" for="tfa_47">
                    <input type="checkbox" value="tfa_47" class="" id="tfa_47" name="tfa_47" aria-labelledby="tfa_47-L" data-tfa-labelledby="tfa_23-L tfa_47-L">
                    <i class="form-icon"></i> Perth &amp; Kinross
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_48-L" for="tfa_48">
                    <input type="checkbox" value="tfa_48" class="" id="tfa_48" name="tfa_48" aria-labelledby="tfa_48-L" data-tfa-labelledby="tfa_23-L tfa_48-L">
                    <i class="form-icon"></i> Renfrewshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_49-L" for="tfa_49">
                    <input type="checkbox" value="tfa_49" class="" id="tfa_49" name="tfa_49" aria-labelledby="tfa_49-L" data-tfa-labelledby="tfa_23-L tfa_49-L">
                    <i class="form-icon"></i> Scottish Borders
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_50-L" for="tfa_50">
                    <input type="checkbox" value="tfa_50" class="" id="tfa_50" name="tfa_50" aria-labelledby="tfa_50-L" data-tfa-labelledby="tfa_23-L tfa_50-L">
                    <i class="form-icon"></i> Shetland
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_51-L" for="tfa_51">
                    <input type="checkbox" value="tfa_51" class="" id="tfa_51" name="tfa_51" aria-labelledby="tfa_51-L" data-tfa-labelledby="tfa_23-L tfa_51-L">
                    <i class="form-icon"></i> South Ayrshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_52-L" for="tfa_52">
                    <input type="checkbox" value="tfa_52" class="" id="tfa_52" name="tfa_52" aria-labelledby="tfa_52-L" data-tfa-labelledby="tfa_23-L tfa_52-L">
                    <i class="form-icon"></i> South Lanarkshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_53-L" for="tfa_53">
                    <input type="checkbox" value="tfa_53" class="" id="tfa_53" name="tfa_53" aria-labelledby="tfa_53-L" data-tfa-labelledby="tfa_23-L tfa_53-L">
                    <i class="form-icon"></i> Stirling
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_54-L" for="tfa_54">
                    <input type="checkbox" value="tfa_54" class="" id="tfa_54" name="tfa_54" aria-labelledby="tfa_54-L" data-tfa-labelledby="tfa_23-L tfa_54-L">
                    <i class="form-icon"></i> West Dunbartonshire
                  </label>
                </div>

                <div class="form-group column col-3 col-lg-4 col-md-6 col-sm-12">
                  <label class="form-checkbox postField" id="tfa_55-L" for="tfa_55">
                    <input type="checkbox" value="tfa_55" class="" id="tfa_55" name="tfa_55" aria-labelledby="tfa_55-L" data-tfa-labelledby="tfa_23-L tfa_55-L">
                    <i class="form-icon"></i> West Lothian
                  </label>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div id="tfa_56" class="section">
          <h2 id="tfa_56-L" class="t-margin-full t-padding-full">Understanding the needs of the people you work with</h2>
          <div class="form-group field-container-D" id="tfa_57-D">
            <div class="col-3 col-lg-4 col-md-6 col-sm-12">
              <label id="tfa_57-L" class="r-padding-full form-label preField" for="tfa_57" aria-describedby="tfa_57-Extra">
                Which priority group do you currently work with?
              </label>
              <p id="tfa_57-Extra">
                <span class="form-input-hint">
                  If you work with more than one of the groups, please complete a second expression of interest.
                </span>
              </p>
            </div>
            <div class="col-4 col-lg-4 col-md-6 col-sm-12">
              <div class="input-group">
                <select id="tfa_57" name="tfa_57" title="Which priority group do you currently work with? Please select one. If you work with more than one of the groups, please complete a second expression of interest." class="form-select required" required>
                  <option value="" disabled selected>Please select...</option>
                  <option value="tfa_58" id="tfa_58" class="">The 'shielding' group</option>
                  <option value="tfa_59" id="tfa_59" class="">Vulnerable households with children</option>
                  <option value="tfa_60" id="tfa_60" data-conditionals="#tfa_61" class="">Other</option>
                </select>
              </div>
              <div class="input-group field-container-D" id="tfa_61-D">
                <input type="text" id="tfa_61" name="tfa_61" value="" maxlength="255" data-condition="`#tfa_60`" placeholder="Please describe" class="form-input" autocomplete="nope" data-lpignore="true">
              </div>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_62-D">
            <label id="tfa_62-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_62">Please briefly describe how you currently work with these people and what their needs are in terms of digital exclusion.</label>
            <textarea data-maxwords="100" id="tfa_62" name="tfa_62" title="Please briefly describe how you currently work with these people and what their needs are in terms of digital exclusion." class="form-input col-7 col-lg-7 col-md-6 col-sm-12 count-words" autocomplete="nope" data-lpignore="true"></textarea>
          </div>
          <div class="form-group field-container-D" id="tfa_63-D">
            <label id="tfa_63-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_63">How many people do you work with that you would consider to be digitally excluded?</label>
            <div class="input-group col-1 col-lg-2 col-md-3 col-sm-6">
              <input type="number" id="tfa_63" name="tfa_63" value="" min="0" max="5500000" title="How many people do you work with that you would consider to be digitally excluded?" class="form-input text-right validate-integer" autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <div class="htmlSection" id="tfa_64">
            <p class="htmlContent" id="tfa_64-HTML">What proportion of these people would you say...</p>
          </div>
          <div class="form-group field-container-D" id="tfa_72-D">
            <label id="tfa_72-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_72"><span class="hidden">What proportion of people you work with that you would consider to be digitally excluded</span> Don't have a smartphone</label>
            <div class="input-group has-icon-right col-1 col-lg-2 col-md-3 col-sm-6">
              <input type="number" id="tfa_72" name="tfa_72" value="" min="0" max="100" title="Don't have a smartphone" class="text-right form-input validate-integer" autocomplete="nope" data-lpignore="true">
              <span class="form-icon fas fa-percent" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_73-D">
            <label id="tfa_73-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_73"><span class="hidden">What proportion of people you work with that you would consider to be digitally excluded</span> Don't have a tablet or laptop</label>
            <div class="input-group has-icon-right col-1 col-lg-2 col-md-3 col-sm-6">
              <input type="number" id="tfa_73" name="tfa_73" value="" min="0" max="100" title="Don't have a tablet or laptop" class="text-right form-input validate-integer" autocomplete="nope" data-lpignore="true">
              <span class="form-icon fas fa-percent" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_74-D">
            <label id="tfa_74-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_74"><span class="hidden">What proportion of people you work with that you would consider to be digitally excluded</span> Don't have home broadband</label>
            <div class="input-group has-icon-right col-1 col-lg-2 col-md-3 col-sm-6">
              <input type="number" id="tfa_74" name="tfa_74" value="" min="0" max="100" title="Don't have home broadband" class="text-right form-input validate-integer" autocomplete="nope" data-lpignore="true">
              <span class="form-icon fas fa-percent" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_75-D">
            <label id="tfa_75-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_75"><span class="hidden">What proportion of people you work with that you would consider to be digitally excluded</span> Have no or limited confidence to use the internet</label>
            <div class="input-group has-icon-right col-1 col-lg-2 col-md-3 col-sm-6">
              <input type="number" id="tfa_75" name="tfa_75" value="" min="0" max="100" title="Have no or limited confidence to use the internet" class="text-right form-input validate-integer" autocomplete="nope" data-lpignore="true">
              <span class="form-icon fas fa-percent" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_65-D">
            <label id="tfa_65-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_65">What type of device would be preferable for these people?</label>
            <div class="input-group col-3 col-lg-3 col-md-3 col-sm-6">
              <select id="tfa_65" name="tfa_65" title="What type of device would be preferable for these people?" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_66" id="tfa_66" class="">Tablet</option>
                <option value="tfa_67" id="tfa_67" class="">Laptop</option>
                <option value="tfa_68" id="tfa_68" class="">Either</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_69-D">
            <label id="tfa_69-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_69">Please explain the reason for your answer (e.g. a tablet is simpler to use for first-time internet users, a laptop is better for taking part in learning activity)</label>
            <textarea data-maxwords="50" id="tfa_69" name="tfa_69" title="Please explain the reason for your answer (e.g. a tablet is simpler to use for first-time internet users, a laptop is better for taking part in learning activity)" class="form-input col-7 col-lg-7 col-md-6 col-sm-12 count-words"></textarea>
          </div>
        </div>
        {{!-- <div id="tfa_70" class="section">
          <h2 id="tfa_70-L" class="t-margin-full t-padding-full">About getting involved</h2>
          <div class="htmlSection" id="tfa_71">
            <p class="htmlContent" id="tfa_71-HTML">Without additional funding, would you have the resources and capacity to be able to commit to…</p>
          </div>
          <div class="form-group field-container-D" id="tfa_76-D">
            <label id="tfa_76-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_76">Delivering devices to people you support</label>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_76" name="tfa_76" title="Delivering devices to people you support" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_77" id="tfa_77" class="">Yes</option>
                <option value="tfa_78" id="tfa_78" class="">No</option>
                <option value="tfa_79" id="tfa_79" class="">Unsure</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_80-D">
            <label id="tfa_80-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_80">Staff or volunteers taking part in Digital Champion Training</label>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_80" name="tfa_80" title="Staff or volunteers taking part in Digital Champion Training" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_92" id="tfa_92" class="">Yes</option>
                <option value="tfa_93" id="tfa_93" class="">No</option>
                <option value="tfa_94" id="tfa_94" class="">Unsure</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_84-D">
            <label id="tfa_84-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_84">Staff or volunteers providing 1-to-1 support (via phone) to the people you support following Digital Champion Training</label>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_84" name="tfa_84" title="Staff or volunteers providing 1-to-1 support (via phone) to the people you support following Digital Champion Training" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_95" id="tfa_95" class="">Yes</option>
                <option value="tfa_96" id="tfa_96" class="">No</option>
                <option value="tfa_97" id="tfa_97" class="">Unsure</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_88-D">
            <label id="tfa_88-L" class="r-padding-full form-label col-3 col-lg-4 col-md-6 col-sm-12 preField" for="tfa_88">Evaluating the impact with people you support over the next year</label>
            <div class="input-group col-3 col-sm-6">
              <select id="tfa_88" name="tfa_88" title="Evaluating the impact with people you support over the next year" class="form-select required" required>
                <option value="" disabled selected>Please select...</option>
                <option value="tfa_98" id="tfa_98" class="">Yes</option>
                <option value="tfa_99" id="tfa_99" class="">No</option>
                <option value="tfa_100" id="tfa_100" class="">Unsure</option>
              </select>
            </div>
          </div>
        </div> --}}
        <div class="form-group">
          <div class="col-3 col-lg-4 col-md-6 col-sm-12"></div>
          <div class="col-7 col-lg-7 col-md-6 col-sm-12">
            <p>
              <span class="form-input-hint">By submitting this form you confirm that you understand and accept that your data will be shared with the Scottish Government and Local Authorities to help in the delivery of Connecting Scotland. Our obligations under data protection legislation are set out in our  <a href="/privacy" target="_blank">privacy notice (opens in new tab)</a>.</span>
            </p>
          </div>
        </div>
        <div class="form-group actions b-margin-full b-padding-full" id="0-A">
          <div class="col-3 col-lg-4 col-md-6 col-sm-12"></div>
          <div class="col-3 col-lg-3 col-md-3 col-sm-6">
            <input type="submit" data-label="Submit" class="btn" id="submit_button" value="Submit">
          </div>
        </div>
        <div style="clear:both"></div>
        <input type="hidden" value="4822520" name="tfa_dbFormId" id="tfa_dbFormId">
        <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
        <input type="hidden" value="cb72de8dd1f1a6d85ba552c201cdfb78" name="tfa_dbControl" id="tfa_dbControl">
        <input type="hidden" value="3" name="tfa_dbVersionId" id="tfa_dbVersionId">
        <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      </form>
    </div>
  </div>
  <div class="wFormFooter"></div>
</div>
