<div class="columns title">
  <div class="column col-8 col-md-12">
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img hide-md hide-lg" />
    <h1>Join the national movement to get everyone online</h1>
    <p>
      A new £5million programme will offer an internet connection and a laptop or tablet to vulnerable people who are not already online during the response to coronavirus.
    </p>
    <p>
      The connecting Scotland programme will connect 9,000 more people who are either considered at clinically high-
      risk themselves or have children who are vulnerable, so they can access services and support during the pandemic.
    </p>
  </div>
  <div class="column col-4 col-md-6 hide-sm">
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img" />
  </div>
</div>