<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail" >
  <div class="wForm" id="4926708-WRPR" dir="ltr">
    <div class="codesection" id="code-4926708">
    </div>
    <h3 class="wFormTitle" data-testid="form-title" id="4926708-T">Device Return Request</h3>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form form-horizontal" id="4926708" role="form">
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_1-D">
            <label id="tfa_1-L" class="form-label preField " for="tfa_1">Your project reference number (e.g. CS-000)</label>
          </div>
        </div>
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
          <input type="text" id="tfa_1" name="tfa_1" value="" maxlength="10" title="Your project reference number (e.g. CS-000)" class="form-input required" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_2-D">
            <label id="tfa_2-L" class="form-label preField " for="tfa_2">Your name</label>
          </div>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_2" name="tfa_2" value="" maxlength="150" title="Your name" class="form-input required" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_4-D">
            <label id="tfa_4-L" class="form-label preField " for="tfa_4">Your organisation</label>
          </div>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_4" name="tfa_4" value="" maxlength="150" title="Your organisation" class="form-input required" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_5-D">
            <label id="tfa_5-L" class="form-label preField " for="tfa_5">Your email address</label>
          </div>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="email" id="tfa_5" name="tfa_5" value="" maxlength="150" title="Your email address" class="form-input validate-email required" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_6-D">
            <label id="tfa_6-L" class="form-label preField " for="tfa_6">Your contact phone number</label>
          </div>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_6" name="tfa_6" value="" maxlength="150" title="Your contact phone number" class="form-input">
        </div>
      </div>
      <p>
        How many devices would you like to return?
      </p>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_7-D">
            <label id="tfa_7-L" class="form-label preField " for="tfa_7">iPads</label>
          </div>
        </div>
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
          <input type="number" id="tfa_7" name="tfa_7" value="" min="0" max="1000" title="How many iPads would you like to return" class="validate-integer form-input">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_8-D">
            <label id="tfa_8-L" class="form-label preField " for="tfa_8">Chromebooks</label>
          </div>
        </div>
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
          <input type="number" id="tfa_8" name="tfa_8" value="" min="0" max="1000" title="How many Chromebooks would you like to return" class="validate-integer form-input">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_9-D">
            <label id="tfa_9-L" class="form-label preField " for="tfa_9">MiFi</label>
          </div>
        </div>
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
          <input type="number" id="tfa_9" name="tfa_9" value="" min="0" max="1000" title="How many MiFi devices would you like to return" class="validate-integer form-input">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <div class="oneField field-container-D    " id="tfa_10-D">
            <label id="tfa_10-L" class="form-label preField " for="tfa_10">Why are you requesting to return devices?</label>
          </div>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea data-maxwords="200" id="tfa_10" name="tfa_10" title="Why are you requesting to return devices?" class="form-input count-words"></textarea>
        </div>
      </div>
      <div class="actions" id="4926708-A">
        <input type="submit" data-label="Submit" class="primaryAction btn" id="submit_button" value="Submit">
      </div>
      <div style="clear:both">
      </div>
      <input type="hidden" value="4926708" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="d5e7989590492c62b1ad057befb8686f" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="6" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>
