<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=82d5a95104920de97db207ba606ec03573ed599c" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<link rel="stylesheet" type="text/css" href="https://www.tfaforms.com/css/kalendae.css" />
<script type="text/javascript" src="https://www.tfaforms.com/js/kalendae/kalendae.standalone.min.js" ></script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms_calendar.js"></script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail">
  {{#withExtend this project=@root.data.project_data.request.data.data_object.get_data.records.[0]}}
  {{#if project}}
  <div class="wFormHeader"></div>
  <div class="wForm" id="4866619-WRPR" dir="ltr">
    <div class="codesection" id="code-4866619"></div>
    <h1 class="wFormTitle" id="4866619-T">Recipient data</h1>

    <p>
      <span class="text-error">*</span> Required field
    </p>

    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form-horizontal form b-margin-full b-padding-full" id="4866619" role="form">
      <h2>Your details</h2>
      <div class="form-group oneField field-container-D" id="tfa_4-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">Project reference number {{#unless @root.request.params.project_ref}}(e.g. CS-0001){{/unless}}</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_4" name="tfa_4" value="{{@root.request.params.project_ref}}" title="Project reference number (e.g. CS-0001)" autocomplete="nope" data-lpignore="true" class="form-input required" required {{#if @root.request.params.project_ref}}readonly{{/if}}>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_2-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_2-L" class="form-label preField reqMark" for="tfa_2">Your organisation</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_2" name="tfa_2" value="{{project.Name_of_Organisation__c}}" title="Your organisation" autocomplete="nope" data-lpignore="true" class="form-input required" required {{#if project.Name_of_Organisation__c}}readonly{{/if}}>
          <p class="caption">
            If these details are incorrect, please go back and <a href="/forms/recipient-data">enter your correct project reference number</a> or <a href="mailto:digital@scvo.org.uk">contact us</a> if the issue persists
          </p>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_1-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">Your first name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_1" name="tfa_1" value="" title="Your first name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_276-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_276-L" class="form-label preField reqMark" for="tfa_276">Your last name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_276" name="tfa_276" value="" title="Your last name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_3-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Your email address</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_3" name="tfa_3" value="" title="Your email address" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div id="tfa_277" class="section">
        <h2 id="tfa_277-L h3">Recipient details</h2>
        <div class="form-group oneField field-container-D" id="tfa_5-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_5-L" class="form-label preField reqMark" for="tfa_5">First name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_5" name="tfa_5" value="" title="First name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_6-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_6-L" class="form-label preField reqMark" for="tfa_6">Last name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_6" name="tfa_6" value="" title="Last name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_7-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_7-L" class="form-label preField " for="tfa_7">Phone number</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_7" name="tfa_7" value="" title="Phone number" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_8-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_8-L" class="form-label preField " for="tfa_8">Date of birth</label>
          </div>
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_8" name="tfa_8" value="" autocomplete="off" data-lpignore="true" title="Date of birth" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_9-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_9-L" class="form-label preField " for="tfa_9">Email address</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_9" name="tfa_9" value="" title="Email address" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_10-D" role="radiogroup" aria-labelledby="tfa_10-L" data-tfa-labelledby="-L tfa_10-L">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_10-L" class="form-label preField reqMark">Support for Individual or Household</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <span id="tfa_10" class="choices vertical ">
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_11-L" for="tfa_11">
                  <input type="radio" value="tfa_11" id="tfa_11" name="tfa_10" aria-labelledby="tfa_11-L" data-tfa-labelledby="tfa_10-L tfa_11-L">
                  <span class="form-icon"></span>
                  Individual
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_12-L" for="tfa_12">
                  <input type="radio" value="tfa_12" id="tfa_12" name="tfa_10" aria-labelledby="tfa_12-L" data-tfa-labelledby="tfa_10-L tfa_12-L">
                  <span class="form-icon"></span>
                  Household
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_13-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_13-L" class="form-label preField reqMark" for="tfa_13">Does the recipient have a disability?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_13" name="tfa_13" title="Does the recipient have a disability?" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_14" id="tfa_14">Yes</option>
              <option value="tfa_15" id="tfa_15">No</option>
              <option value="tfa_16" id="tfa_16">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_17-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_17-L" class="form-label preField reqMark" for="tfa_17">Which project criteria group does the individual meet?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_17" name="tfa_17" title="Which project criteria group does the individual meet?" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_18" id="tfa_18">Extremely high vulnerability to coronavirus (shielding group)</option>
              <option value="tfa_19" id="tfa_19">High risk to coronavirus</option>
              <option value="tfa_20" id="tfa_20">Households with children</option>
              <option value="tfa_21" id="tfa_21">Care leavers</option>
              <option value="tfa_22" id="tfa_22">Other vulnerability</option>
            </select>
          </div>
        </div>
        <h2>Recipient address</h2>
        <div class="form-group oneField field-container-D" id="tfa_23-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_23-L" class="form-label preField reqMark" for="tfa_23">Address line 1</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_23" name="tfa_23" value="" title="Address line 1" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_24-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_24-L" class="form-label preField " for="tfa_24">Address line 2</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_24" name="tfa_24" value="" title="Address line 2" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_25-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_25-L" class="form-label preField " for="tfa_25">Address line 3</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_25" name="tfa_25" value="" title="Address line 3" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_26-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_26-L" class="form-label preField reqMark" for="tfa_26">Town/city</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_26" name="tfa_26" value="" title="Address town/city" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_27-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_27-L" class="form-label preField reqMark" for="tfa_27">Postcode</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_27" name="tfa_27" value="" title="Address postcode" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_28-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_28-L" class="form-label preField reqMark" for="tfa_28">Local authority</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_28" name="tfa_28" title="Address local authority" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_29" id="tfa_29">Aberdeen</option>
              <option value="tfa_30" id="tfa_30">Aberdeenshire</option>
              <option value="tfa_31" id="tfa_31">Angus</option>
              <option value="tfa_32" id="tfa_32">Argyll &amp; Bute</option>
              <option value="tfa_33" id="tfa_33">Clackmannanshire</option>
              <option value="tfa_34" id="tfa_34">Dumfries &amp; Galloway</option>
              <option value="tfa_35" id="tfa_35">Dundee</option>
              <option value="tfa_36" id="tfa_36">East Ayrshire</option>
              <option value="tfa_37" id="tfa_37">East Dunbartonshire</option>
              <option value="tfa_38" id="tfa_38">East Lothian</option>
              <option value="tfa_39" id="tfa_39">East Renfrewshire</option>
              <option value="tfa_40" id="tfa_40">Edinburgh</option>
              <option value="tfa_41" id="tfa_41">Falkirk</option>
              <option value="tfa_42" id="tfa_42">Fife</option>
              <option value="tfa_43" id="tfa_43">Glasgow</option>
              <option value="tfa_44" id="tfa_44">Highland</option>
              <option value="tfa_45" id="tfa_45">Inverclyde</option>
              <option value="tfa_46" id="tfa_46">Midlothian</option>
              <option value="tfa_47" id="tfa_47">Moray</option>
              <option value="tfa_48" id="tfa_48">Na h-Eileanan Siar</option>
              <option value="tfa_49" id="tfa_49">North Ayrshire</option>
              <option value="tfa_50" id="tfa_50">North Lanarkshire</option>
              <option value="tfa_51" id="tfa_51">Orkney</option>
              <option value="tfa_52" id="tfa_52">Perth &amp; Kinross</option>
              <option value="tfa_53" id="tfa_53">Renfrewshire</option>
              <option value="tfa_54" id="tfa_54">Scottish Borders</option>
              <option value="tfa_55" id="tfa_55">Shetland</option>
              <option value="tfa_56" id="tfa_56">South Ayrshire</option>
              <option value="tfa_57" id="tfa_57">South Lanarkshire</option>
              <option value="tfa_58" id="tfa_58">Stirling</option>
              <option value="tfa_59" id="tfa_59">West Dunbartonshire</option>
              <option value="tfa_60" id="tfa_60">West Lothian</option>
            </select>
          </div>
        </div>
        <h2>Does the household have existing access to</h2>
        <div class="form-group oneField field-container-D" id="tfa_61-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_61-L" class="form-label preField reqMark" for="tfa_61">Mobile phone with access to the internet</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_61" name="tfa_61" title="Mobile phone with access to the internet" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_62" id="tfa_62">Yes</option>
              <option value="tfa_63" id="tfa_63">No</option>
              <option value="tfa_64" id="tfa_64">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_65-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_65-L" class="form-label preField reqMark" for="tfa_65">Home broadband</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_65" name="tfa_65" title="Home broadband" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_66" id="tfa_66">Yes</option>
              <option value="tfa_67" id="tfa_67">No</option>
              <option value="tfa_68" id="tfa_68">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_69-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_69-L" class="form-label preField reqMark" for="tfa_69">A tablet computer</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_69" name="tfa_69" title="A tablet computer" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_70" id="tfa_70">Yes</option>
              <option value="tfa_71" id="tfa_71">No</option>
              <option value="tfa_72" id="tfa_72">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_73-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_73-L" class="form-label preField reqMark" for="tfa_73">A laptop or PC</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_73" name="tfa_73" title="A laptop or PC" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_74" id="tfa_74">Yes</option>
              <option value="tfa_75" id="tfa_75">No</option>
              <option value="tfa_76" id="tfa_76">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_77-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_77-L" class="form-label preField reqMark" for="tfa_77">Estimated level of digital skills and confidence</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_77" name="tfa_77" title="Estimated level of digital skills and confidence" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_78" id="tfa_78">None</option>
              <option value="tfa_79" id="tfa_79">Low</option>
              <option value="tfa_80" id="tfa_80">Average</option>
              <option value="tfa_81" id="tfa_81">High</option>
            </select>
          </div>
        </div>
        <h2>Household members - adults</h2>
        <div class="form-group oneField field-container-D" id="tfa_82-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_82-L" class="form-label preField reqMark" for="tfa_82">Number of Adults aged 16-25</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_82" name="tfa_82" title="Number of Adults aged 16-25" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_282" id="tfa_282">0</option>
              <option value="tfa_83" id="tfa_83">1</option>
              <option value="tfa_84" id="tfa_84">2</option>
              <option value="tfa_85" id="tfa_85">3</option>
              <option value="tfa_86" id="tfa_86">4</option>
              <option value="tfa_87" id="tfa_87">5</option>
              <option value="tfa_88" id="tfa_88">More than 5</option>
              <option value="tfa_89" id="tfa_89">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_98-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_98-L" class="form-label preField reqMark" for="tfa_98">Number of Adults aged 26-40</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_98" name="tfa_98" title="Number of Adults aged 26-40" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_283" id="tfa_283">0</option>
              <option value="tfa_99" id="tfa_99">1</option>
              <option value="tfa_100" id="tfa_100">2</option>
              <option value="tfa_101" id="tfa_101">3</option>
              <option value="tfa_102" id="tfa_102">4</option>
              <option value="tfa_103" id="tfa_103">5</option>
              <option value="tfa_104" id="tfa_104">More than 5</option>
              <option value="tfa_105" id="tfa_105">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_114-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_114-L" class="form-label preField reqMark" for="tfa_114">Number of Adults aged 41-60</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_114" name="tfa_114" title="Number of Adults aged 41-60" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_280" id="tfa_280">0</option>
              <option value="tfa_115" id="tfa_115">1</option>
              <option value="tfa_116" id="tfa_116">2</option>
              <option value="tfa_117" id="tfa_117">3</option>
              <option value="tfa_118" id="tfa_118">4</option>
              <option value="tfa_119" id="tfa_119">5</option>
              <option value="tfa_120" id="tfa_120">More than 5</option>
              <option value="tfa_121" id="tfa_121">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_130-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_130-L" class="form-label preField reqMark" for="tfa_130">Number of Adults aged 61-70</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_130" name="tfa_130" title="Number of Adults aged 61-70" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_281" id="tfa_281">0</option>
              <option value="tfa_131" id="tfa_131">1</option>
              <option value="tfa_132" id="tfa_132">2</option>
              <option value="tfa_133" id="tfa_133">3</option>
              <option value="tfa_134" id="tfa_134">4</option>
              <option value="tfa_135" id="tfa_135">5</option>
              <option value="tfa_136" id="tfa_136">More than 5</option>
              <option value="tfa_137" id="tfa_137">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_146-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_146-L" class="form-label preField reqMark" for="tfa_146">Number of Adults aged 71-80</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_146" name="tfa_146" title="Number of Adults aged 71-80" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_279" id="tfa_279">0</option>
              <option value="tfa_147" id="tfa_147">1</option>
              <option value="tfa_148" id="tfa_148">2</option>
              <option value="tfa_149" id="tfa_149">3</option>
              <option value="tfa_150" id="tfa_150">4</option>
              <option value="tfa_151" id="tfa_151">5</option>
              <option value="tfa_152" id="tfa_152">More than 5</option>
              <option value="tfa_153" id="tfa_153">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_162-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_162-L" class="form-label preField reqMark" for="tfa_162">Number of Adults aged 81+</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_162" name="tfa_162" title="Number of Adults aged 81+" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_278" id="tfa_278">0</option>
              <option value="tfa_163" id="tfa_163">1</option>
              <option value="tfa_164" id="tfa_164">2</option>
              <option value="tfa_165" id="tfa_165">3</option>
              <option value="tfa_166" id="tfa_166">4</option>
              <option value="tfa_167" id="tfa_167">5</option>
              <option value="tfa_168" id="tfa_168">More than 5</option>
              <option value="tfa_169" id="tfa_169">Unknown</option>
            </select>
          </div>
        </div>
        <h2>Household members - children</h2>
        <div class="form-group oneField field-container-D" id="tfa_170-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_170-L" class="form-label preField reqMark" for="tfa_170">Total number of children in household</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_170" name="tfa_170" value="" title="Total number of children in household" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <h2>Device(s)</div>
        <fieldset id="tfa_187" class="section col-9 col-xl-12">
          <legend id="tfa_187-L h3">Device 1</legend>
          <div class="form-group oneField field-container-D" id="tfa_172-D">
            <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_172-L" class="form-label preField reqMark" for="tfa_172">Type</label>
            </div>
            <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_172" name="tfa_172" title="Device 1 - Type" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_173" id="tfa_173">Chromebook</option>
                <option value="tfa_174" id="tfa_174">Tablet</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_176-D">
            <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_176-L" class="form-label preField reqMark" for="tfa_176">Connectivity</label>
            </div>
            <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_176" name="tfa_176" title="Device 1 - Connectivity" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_177" id="tfa_177">None</option>
                <option value="tfa_178" id="tfa_178">SIM only</option>
                <option value="tfa_179" id="tfa_179">SIM &amp; MiFi</option>
                <option value="tfa_180" id="tfa_180">Broadband</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_171-D">
            <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_171-L" class="form-label preField " for="tfa_171">Date Delivered to Recipient</label>
            </div>
            <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
              <input type="text" id="tfa_171" name="tfa_171" value="" autocomplete="off" data-lpignore="true" title="Device 1 - Date Delivered to Recipient" class="validate-datecal c-hand form-input">
              <i class="form-icon far fa-calendar-alt r-margin-full"></i>
            </div>
          </div>
        </fieldset>
        <div class="form-group oneField field-container-D" id="tfa_181-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_181-L" class="form-label preField reqMark" for="tfa_181">How many additional devices do you wish to add for the same household?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_181" name="tfa_181" title="How many additional devices do you wish to add for the same household?" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_182" id="tfa_182">None</option>
              <option value="tfa_183" id="tfa_183" data-conditionals="#tfa_199">1</option>
              <option value="tfa_184" id="tfa_184" data-conditionals="#tfa_221,#tfa_199">2</option>
              <option value="tfa_185" id="tfa_185" data-conditionals="#tfa_243,#tfa_221,#tfa_199">3</option>
              <option value="tfa_186" id="tfa_186" data-conditionals="#tfa_265,#tfa_243,#tfa_221,#tfa_199">4</option>
            </select>
          </div>
          <fieldset id="tfa_199" class="section col-9 col-xl-12" data-condition="`#tfa_186` OR `#tfa_185` OR `#tfa_184` OR `#tfa_183`">
            <legend id="tfa_199-L h3">Device 2</legend>
            <div class="form-group oneField field-container-D" id="tfa_200-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_200-L" class="form-label preField reqMark" for="tfa_200">Type</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_200" name="tfa_200" title="Device 2 - Type" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_201" id="tfa_201">Chromebook</option>
                  <option value="tfa_202" id="tfa_202">Tablet</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_204-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_204-L" class="form-label preField reqMark" for="tfa_204">Connectivity</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_204" name="tfa_204" title="Device 2 - Connectivity" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_205" id="tfa_205">None</option>
                  <option value="tfa_206" id="tfa_206">SIM only</option>
                  <option value="tfa_207" id="tfa_207">SIM &amp; MiFi</option>
                  <option value="tfa_208" id="tfa_208">Broadband</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_209-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_209-L" class="form-label preField " for="tfa_209">Date Delivered to Recipient</label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
                <input type="text" id="tfa_209" name="tfa_209" value="" autocomplete="off" data-lpignore="true" title="Device 2 - Date Delivered to Recipient" class="validate-datecal c-hand form-input">
                <i class="form-icon far fa-calendar-alt r-margin-full"></i>
              </div>
            </div>
          </fieldset>
          <fieldset id="tfa_221" class="section col-9 col-xl-12" data-condition="`#tfa_186` OR `#tfa_185` OR `#tfa_184`">
            <legend id="tfa_221-L h3">Device 3</legend>
            <div class="form-group oneField field-container-D" id="tfa_222-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_222-L" class="form-label preField reqMark" for="tfa_222">Type</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_222" name="tfa_222" title="Device 3 - Type" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_223" id="tfa_223">Chromebook</option>
                  <option value="tfa_224" id="tfa_224">Tablet</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_226-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_226-L" class="form-label preField reqMark" for="tfa_226">Connectivity</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_226" name="tfa_226" title="Device 3 - Connectivity" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_227" id="tfa_227">None</option>
                  <option value="tfa_228" id="tfa_228">SIM only</option>
                  <option value="tfa_229" id="tfa_229">SIM &amp; MiFi</option>
                  <option value="tfa_230" id="tfa_230">Broadband</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_231-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_231-L" class="form-label preField " for="tfa_231">Date Delivered to Recipient</label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
                <input type="text" id="tfa_231" name="tfa_231" value="" autocomplete="off" data-lpignore="true" title="Device 3 - Date Delivered to Recipient" class="validate-datecal c-hand form-input">
                <i class="form-icon far fa-calendar-alt r-margin-full"></i>
              </div>
            </div>
          </fieldset>
          <fieldset id="tfa_243" class="section col-9 col-xl-12" data-condition="`#tfa_185` OR `#tfa_186`">
            <legend id="tfa_243-L h3">Device 4</legend>
            <div class="form-group oneField field-container-D" id="tfa_244-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_244-L" class="form-label preField reqMark" for="tfa_244">Type</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_244" name="tfa_244" title="Device 4 - Type" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_245" id="tfa_245">Chromebook</option>
                  <option value="tfa_246" id="tfa_246">Tablet</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_248-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_248-L" class="form-label preField reqMark" for="tfa_248">Connectivity</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_248" name="tfa_248" title="Device 4 - Connectivity" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_249" id="tfa_249">None</option>
                  <option value="tfa_250" id="tfa_250">SIM only</option>
                  <option value="tfa_251" id="tfa_251">SIM &amp; MiFi</option>
                  <option value="tfa_252" id="tfa_252">Broadband</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_253-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_253-L" class="form-label preField " for="tfa_253">Date Delivered to Recipient</label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
                <input type="text" id="tfa_253" name="tfa_253" value="" autocomplete="off" data-lpignore="true" title="Device 4 - Date Delivered to Recipient" class="validate-datecal c-hand form-input">
                <i class="form-icon far fa-calendar-alt r-margin-full"></i>
              </div>
            </div>
          </fieldset>
          <fieldset id="tfa_265" class="section col-9 col-xl-12" data-condition="`#tfa_186`">
            <legend id="tfa_265-L h3">Device 5</legend>
            <div class="form-group oneField field-container-D" id="tfa_266-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_266-L" class="form-label preField reqMark" for="tfa_266">Type</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_266" name="tfa_266" title="Device 5 - Type" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_267" id="tfa_267">Chromebook</option>
                  <option value="tfa_268" id="tfa_268">Tablet</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_270-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_270-L" class="form-label preField reqMark" for="tfa_270">Connectivity</label>
              </div>
              <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_270" name="tfa_270" title="Device 5 - Connectivity" class="form-select required" required>
                  <option value="" disabled selected>Please select&hellip;</option>
                  <option value="tfa_271" id="tfa_271">None</option>
                  <option value="tfa_272" id="tfa_272">SIM only</option>
                  <option value="tfa_273" id="tfa_273">SIM &amp; MiFi</option>
                  <option value="tfa_274" id="tfa_274">Broadband</option>
                </select>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_275-D">
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_275-L" class="form-label preField " for="tfa_275">Date Delivered to Recipient</label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
                <input type="text" id="tfa_275" name="tfa_275" value="" autocomplete="off" data-lpignore="true" title="Device 5 - Date Delivered to Recipient" class="validate-datecal c-hand form-input">
                <i class="form-icon far fa-calendar-alt r-margin-full"></i>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="actions form-group" id="0-A">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="submit" data-label="Submit" class="btn" id="submit_button" value="Submit">
          </div>
        </div>
        <input type="hidden" value="4866619" name="tfa_dbFormId" id="tfa_dbFormId">
        <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
        <input type="hidden" value="79e273d4dc658294917262e40dc78108" name="tfa_dbControl" id="tfa_dbControl">
        <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
        <input type="hidden" value="4" name="tfa_dbVersionId" id="tfa_dbVersionId">
        <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      </form>
    </div>
    {{else}}
    <h2>Error</h2>
    <p>
      The project reference number could not be recognised, please try again or <a href="mailto:digital@scvo.org.uk">contact us</a> quoting the web address of this page.
    </p>
    {{/if}}
    {{/withExtend}}
  </div>
</div>