<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=82d5a95104920de97db207ba606ec03573ed599c" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>

<ul class="breadcrumb breadcrumb-length-2" aria-hidden="true">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/organisations/">Organisations</a></li>
  <li class="breadcrumb-item">Care homes - application</li>
</ul>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail">
  <div class="wForm" id="4866604-WRPR" dir="ltr">
    <div class="codesection" id="code-4866604"></div>
    <div class="columns">
      <div class="column col-8 col-md-12 r-padding-full">
        <h1 class="wFormTitle" id="4866604-T">Care homes - application</h1>

        <h2>Introduction</h2>
        <p>
          This application form is for registered care homes in Scotland applying for an iPad and internet connectivity as part of the Digital Inclusion - Connecting Residents in Scotland’s Care Homes initiative.
        </p>
        <p>
          The Digital Inclusion - Connecting Residents in Scotland’s Care Homes initiative is a programme of work led by Scottish Government and delivered with Connecting Scotland, in collaboration with COSLA, the Care Inspectorate, Scottish Care and the Scottish Social Services Council.
        </p>
        <p>
          Please apply by completing the short questionnaire below. Further information and guidance is available on the <a href="https://tec.scot/care-homes/care-home-application/">Technology Enabled Care website</a>.
        </p>
        <p>
          If you have any problems applying, please email <a href="mailto:nss.DigiCareHome@nhs.scot">nss.DigiCareHome@nhs.scot</a>.
        </p>
        <p>
          <span class="text-error">*</span> Required field
        </p>
        <a href="https://www.digihealthcare.scot" target="_blank" class="brand-logo"><img src="{{~>asset_url url=(concat 'images/residential-care-application.png')~}}" alt="" class="responsive-img" style="max-width: 380px; width:100%;" /></a>
      </div>
      <div class="column col-4 col-md-6 hide-sm l-padding-full">
        <h1>&nbsp;</h1>
        {{>sidebars_menu}}
      </div>
    </div>

    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form-horizontal form b-margin-full b-padding-full" id="4866604" role="form">
      <h2>About you</h2>
      <div class="form-group oneField field-container-D" id="tfa_1-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">First name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_1" name="tfa_1" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_90-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_90-L" class="form-label preField reqMark" for="tfa_90">Last name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_90" name="tfa_90"  autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_2-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_2-L" class="form-label preField reqMark" for="tfa_2">Job title</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_2" name="tfa_2" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_3-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Email address</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_3" name="tfa_3" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_4-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">Phone number</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_4" name="tfa_4" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_5-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_5-L" class="form-label preField reqMark" for="tfa_5">Organisation name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_5" name="tfa_5" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_6-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_6-L" class="form-label preField " for="tfa_6">Care home name (if different)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_6" name="tfa_6" autocomplete="nope" data-lpignore="true" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_110-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_110-L" class="form-label preField reqMark" for="tfa_110">Care Inspectorate Registration Number</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_110" name="tfa_110" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_7-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_7-L" class="form-label preField " for="tfa_7">Address line 1</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_7" name="tfa_7" autocomplete="nope" data-lpignore="true" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_8-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_8-L" class="form-label preField " for="tfa_8">Address line 2</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_8" name="tfa_8" autocomplete="nope" data-lpignore="true" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_9-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_9-L" class="form-label preField " for="tfa_9">Address line 3</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_9" name="tfa_9" autocomplete="nope" data-lpignore="true" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_10-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_10-L" class="form-label preField " for="tfa_10">Postcode</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_10" name="tfa_10" title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" autocomplete="nope" data-lpignore="true" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_11-D" role="radiogroup" aria-labelledby="tfa_11-L" data-tfa-labelledby="-L tfa_11-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_11-L" class="form-label preField reqMark">Sector</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_11" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_12-L" for="tfa_12">
                <input type="radio" value="tfa_12" id="tfa_12" name="tfa_11" aria-labelledby="tfa_12-L" data-tfa-labelledby="tfa_11-L tfa_12-L">
                <span class="form-icon"></span>
                Public sector
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_13-L" for="tfa_13">
                <input type="radio" value="tfa_13" id="tfa_13" name="tfa_11" aria-labelledby="tfa_13-L" data-tfa-labelledby="tfa_11-L tfa_13-L">
                <span class="form-icon"></span>
                Independent sector
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_14-L" for="tfa_14">
                <input type="radio" value="tfa_14" id="tfa_14" name="tfa_11" aria-labelledby="tfa_14-L" data-tfa-labelledby="tfa_11-L tfa_14-L">
                <span class="form-icon"></span>
                Third sector
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_15-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_15-L" class="form-label preField reqMark" for="tfa_15">Which local council area is your care home in?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_15" name="tfa_15" class="form-select required" required>
            <option value="" disabled selected>Please select&hellip;</option>
            <option value="tfa_16" id="tfa_16">Aberdeen</option>
            <option value="tfa_17" id="tfa_17">Aberdeenshire</option>
            <option value="tfa_18" id="tfa_18">Angus</option>
            <option value="tfa_19" id="tfa_19">Argyll &amp; Bute</option>
            <option value="tfa_20" id="tfa_20">Clackmannanshire</option>
            <option value="tfa_21" id="tfa_21">Dumfries &amp; Galloway</option>
            <option value="tfa_22" id="tfa_22">Dundee</option>
            <option value="tfa_23" id="tfa_23">East Ayrshire</option>
            <option value="tfa_24" id="tfa_24">East Dunbartonshire</option>
            <option value="tfa_25" id="tfa_25">East Lothian</option>
            <option value="tfa_26" id="tfa_26">East Renfrewshire</option>
            <option value="tfa_27" id="tfa_27">Edinburgh</option>
            <option value="tfa_28" id="tfa_28">Falkirk</option>
            <option value="tfa_29" id="tfa_29">Fife</option>
            <option value="tfa_30" id="tfa_30">Glasgow</option>
            <option value="tfa_31" id="tfa_31">Highland</option>
            <option value="tfa_32" id="tfa_32">Inverclyde</option>
            <option value="tfa_33" id="tfa_33">Midlothian</option>
            <option value="tfa_34" id="tfa_34">Moray</option>
            <option value="tfa_35" id="tfa_35">Na h-Eileanan Siar</option>
            <option value="tfa_36" id="tfa_36">North Ayrshire</option>
            <option value="tfa_37" id="tfa_37">North Lanarkshire</option>
            <option value="tfa_38" id="tfa_38">Orkney</option>
            <option value="tfa_39" id="tfa_39">Perth &amp; Kinross</option>
            <option value="tfa_40" id="tfa_40">Renfrewshire</option>
            <option value="tfa_41" id="tfa_41">Scottish Borders</option>
            <option value="tfa_42" id="tfa_42">Shetland</option>
            <option value="tfa_43" id="tfa_43">South Ayrshire</option>
            <option value="tfa_44" id="tfa_44">South Lanarkshire</option>
            <option value="tfa_45" id="tfa_45">Stirling</option>
            <option value="tfa_46" id="tfa_46">West Dunbartonshire</option>
            <option value="tfa_47" id="tfa_47">West Lothian</option>
          </select>
        </div>
      </div>
      <h2>Your care home</h2>
      <div class="form-group oneField field-container-D" id="tfa_48-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_48-L" class="form-label preField " for="tfa_48">How many residents do you support?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="number" id="tfa_48" name="tfa_48" value="0" step="1" min="0" autocomplete="nope" data-lpignore="true" class="form-input" />
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_91-D" role="group" aria-labelledby="tfa_91-L" data-tfa-labelledby="-L tfa_91-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_91-L" class="form-label preField ">Please select the client groups that your care home is registered to support (select all that apply)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_91" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_92-L" for="tfa_92">
                <input type="checkbox" value="tfa_92" id="tfa_92" name="tfa_92" aria-labelledby="tfa_92-L" data-tfa-labelledby="tfa_91-L tfa_92-L">
                <span class="form-icon"></span>
                Older people
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_93-L" for="tfa_93">
                <input type="checkbox" value="tfa_93" id="tfa_93" name="tfa_93" aria-labelledby="tfa_93-L" data-tfa-labelledby="tfa_91-L tfa_93-L">
                <span class="form-icon"></span>
                People with mental health problems
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_94-L" for="tfa_94">
                <input type="checkbox" value="tfa_94" id="tfa_94" name="tfa_94" aria-labelledby="tfa_94-L" data-tfa-labelledby="tfa_91-L tfa_94-L">
                <span class="form-icon"></span>
                People with physical and sensory impairment
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_95-L" for="tfa_95">
                <input type="checkbox" value="tfa_95" id="tfa_95" name="tfa_95" aria-labelledby="tfa_95-L" data-tfa-labelledby="tfa_91-L tfa_95-L">
                <span class="form-icon"></span>
                People with learning disabilities
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_96-L" for="tfa_96">
                <input type="checkbox" value="tfa_96" id="tfa_96" name="tfa_96" aria-labelledby="tfa_96-L" data-tfa-labelledby="tfa_91-L tfa_96-L">
                <span class="form-icon"></span>
                People with drug and alcohol misuse problems
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_97-L" for="tfa_97">
                <input type="checkbox" value="tfa_97" id="tfa_97" name="tfa_97" aria-labelledby="tfa_97-L" data-tfa-labelledby="tfa_91-L tfa_97-L">
                <span class="form-icon"></span>
                People needing short breaks and respite services
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_98-L" for="tfa_98">
                <input type="checkbox" value="tfa_98" id="tfa_98" name="tfa_98" aria-labelledby="tfa_98-L" data-tfa-labelledby="tfa_91-L tfa_98-L">
                <span class="form-icon"></span>
                Children and young people
              </label>
            </span>
          </span>
        </div>
      </div>
      <h2>Digital access</h2>
      <h3>Devices</h3>
      <div class="form-group oneField field-container-D" id="tfa_57-D" role="radiogroup" aria-labelledby="tfa_57-L" data-tfa-labelledby="-L tfa_57-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_57-L" class="form-label preField ">Does your care home currently have equipment that residents can use to connect to the internet?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_57" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_58-L" for="tfa_58">
                <input type="radio" value="tfa_58" id="tfa_58" name="tfa_57" data-conditionals="#tfa_99" aria-labelledby="tfa_58-L" data-tfa-labelledby="tfa_57-L tfa_58-L">
                <span class="form-icon"></span>
                Yes
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_59-L" for="tfa_59">
                <input type="radio" value="tfa_59" id="tfa_59" name="tfa_57" aria-labelledby="tfa_59-L" data-tfa-labelledby="tfa_57-L tfa_59-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_99-D" role="group" aria-labelledby="tfa_99-L" data-tfa-labelledby="-L tfa_99-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_99-L" class="form-label preField ">If yes, please specify what type of equipment is currently available for residents to use (select all that apply)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_99" class="choices vertical " data-condition="`#tfa_58`">
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_100-L" for="tfa_100">
                <input type="checkbox" value="tfa_100" id="tfa_100" name="tfa_100" aria-labelledby="tfa_100-L" data-tfa-labelledby="tfa_99-L tfa_100-L">
                <span class="form-icon"></span>
                Tablet device (e.g., iPad, Android etc.)
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_101-L" for="tfa_101">
                <input type="checkbox" value="tfa_101" id="tfa_101" name="tfa_101" aria-labelledby="tfa_101-L" data-tfa-labelledby="tfa_99-L tfa_101-L">
                <span class="form-icon"></span>
                Mobile phone
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_102-L" for="tfa_102">
                <input type="checkbox" value="tfa_102" id="tfa_102" name="tfa_102" aria-labelledby="tfa_102-L" data-tfa-labelledby="tfa_99-L tfa_102-L">
                <span class="form-icon"></span>
                Laptop
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_103-L" for="tfa_103">
                <input type="checkbox" value="tfa_103" id="tfa_103" name="tfa_103" data-conditionals="#tfa_65" aria-labelledby="tfa_103-L" data-tfa-labelledby="tfa_99-L tfa_103-L">
                <span class="form-icon"></span>
                Other (please specify)
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_65-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_65" name="tfa_65" value="" data-condition="`#tfa_103`" title="Please specify what other type of equipment is currently available for residents to use" class="form-input">
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_66-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_66-L" class="form-label preField " for="tfa_66">How many devices do you have for residents’ use?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea data-maxwords="200" id="tfa_66" name="tfa_66" value="" class="form-input count-words"></textarea>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_104-D" role="group" aria-labelledby="tfa_104-L" data-tfa-labelledby="-L tfa_104-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_104-L" class="form-label preField ">Has your care home received any devices from any of the following programmes? (please select all that apply)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_104" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_105-L" for="tfa_105">
                <input type="checkbox" value="tfa_105" id="tfa_105" name="tfa_105" aria-labelledby="tfa_105-L" data-tfa-labelledby="tfa_104-L tfa_105-L">
                <span class="form-icon"></span>
                Connecting Scotland
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_106-L" for="tfa_106">
                <input type="checkbox" value="tfa_106" id="tfa_106" name="tfa_106" aria-labelledby="tfa_106-L" data-tfa-labelledby="tfa_104-L tfa_106-L">
                <span class="form-icon"></span>
                Pupil Equity Funding
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_107-L" for="tfa_107">
                <input type="checkbox" value="tfa_107" id="tfa_107" name="tfa_107" aria-labelledby="tfa_107-L" data-tfa-labelledby="tfa_104-L tfa_107-L">
                <span class="form-icon"></span>
                Tech Connection Network (Tech Device Network) via Scottish Care
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_108-L" for="tfa_108">
                <input type="checkbox" value="tfa_108" id="tfa_108" name="tfa_108" aria-labelledby="tfa_108-L" data-tfa-labelledby="tfa_104-L tfa_108-L">
                <span class="form-icon"></span>
                vCreate project
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_109-L" for="tfa_109">
                <input type="checkbox" value="tfa_109" id="tfa_109" name="tfa_109" data-conditionals="#tfa_73" aria-labelledby="tfa_109-L" data-tfa-labelledby="tfa_104-L tfa_109-L">
                <span class="form-icon"></span>
                Other programme (please specify)
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_73-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_73" name="tfa_73" value="" data-condition="`#tfa_109`" title="Which other programmes has your care home received devices from?" class="form-input">
        </div>
      </div>
      <h3>Connectivity</h3>
      <div class="form-group oneField field-container-D" id="tfa_74-D" role="radiogroup" aria-labelledby="tfa_74-L" data-tfa-labelledby="-L tfa_74-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_74-L" class="form-label preField ">Does your care home currently have wifi installed that can be accessed throughout the home including residents’ rooms?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_74" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_75-L" for="tfa_75">
                <input type="radio" value="tfa_75" id="tfa_75" name="tfa_74" aria-labelledby="tfa_75-L" data-tfa-labelledby="tfa_74-L tfa_75-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_76-L" for="tfa_76">
                <input type="radio" value="tfa_76" id="tfa_76" name="tfa_74" aria-labelledby="tfa_76-L" data-tfa-labelledby="tfa_74-L tfa_76-L" data-conditionals="#tfa_78-D">
                <span class="form-icon"></span>
                Only partial coverage
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_77-L" for="tfa_77">
                <input type="radio" value="tfa_77" id="tfa_77" name="tfa_74" aria-labelledby="tfa_77-L" data-tfa-labelledby="tfa_74-L tfa_77-L" data-conditionals="#tfa_78-D">
                <span class="form-icon"></span>
                Yes - full coverage
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_78-D" role="radiogroup" aria-labelledby="tfa_78-L" data-tfa-labelledby="-L tfa_78-L" data-condition="`#tfa_76` OR `#tfa_77`">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_78-L" class="form-label preField ">If yes, does your care home permit residents to access the wifi?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_78" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_79-L" for="tfa_79">
                <input type="radio" value="tfa_79" id="tfa_79" name="tfa_78" aria-labelledby="tfa_79-L" data-tfa-labelledby="tfa_78-L tfa_79-L">
                <span class="form-icon"></span>
                Yes
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_80-L" for="tfa_80">
                <input type="radio" value="tfa_80" id="tfa_80" name="tfa_78" aria-labelledby="tfa_80-L" data-tfa-labelledby="tfa_78-L tfa_80-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_81-D" role="radiogroup" aria-labelledby="tfa_81-L" data-tfa-labelledby="-L tfa_81-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_81-L" class="form-label preField ">Do you get 4G Vodafone signal at the care home? <a href="https://www.vodafone.co.uk/network/status-checker" target="_blank">You can check coverage for your postcode here</a></label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_81" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_82-L" for="tfa_82">
                <input type="radio" value="tfa_82" id="tfa_82" name="tfa_81" aria-labelledby="tfa_82-L" data-tfa-labelledby="tfa_81-L tfa_82-L">
                <span class="form-icon"></span>
                Yes
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_83-L" for="tfa_83">
                <input type="radio" value="tfa_83" id="tfa_83" name="tfa_81" aria-labelledby="tfa_83-L" data-tfa-labelledby="tfa_81-L tfa_83-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_84-L" for="tfa_84">
                <input type="radio" value="tfa_84" id="tfa_84" name="tfa_81" aria-labelledby="tfa_84-L" data-tfa-labelledby="tfa_81-L tfa_84-L">
                <span class="form-icon"></span>
                Don't know
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="section col-9 col-xl-12">
        <h2>Digital Champion</h2>
        <p>
          We know that the best way is to have a named person among your staff group - to act as a champion and a designated contact for us.  We would therefore like you to nominate a member of your staff group with whom we can keep in touch.
        </p>
        <p>
          Don’t worry, this person does not need to know a lot about technology, just be enthusiastic and willing to learn.
        </p>
        <p>
          Please provide details of the member of staff:
        </p>
        <div class="form-group oneField field-container-D" id="tfa_85-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_85-L" class="form-label preField " for="tfa_85">Name</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_85" name="tfa_85" value="" title="Digital Champion name" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_86-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_86-L" class="form-label preField " for="tfa_86">Job title</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_86" name="tfa_86" value="" title="Digital Champion job title" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_87-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_87-L" class="form-label preField " for="tfa_87">Email address</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_87" name="tfa_87" value="" title="Digital Champion email address" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_88-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_88-L" class="form-label preField " for="tfa_88">Phone number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_88" name="tfa_88" value="" title="Digital Champion phone number" class="form-input">
          </div>
        </div>
      </div>
      <h2>Making a difference</h2>
      <div class="form-group oneField field-container-D" id="tfa_89-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_89-L" class="form-label preField reqMark" for="tfa_89">What difference would it make to your residents if your care home receives an iPad?&nbsp; How would you intend to use it?</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea data-maxwords="200" id="tfa_89" name="tfa_89" class="form-input count-words required" required></textarea>
        </div>
      </div>
      <div class="actions form-group" id="0-A">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="submit" data-label="Submit" class="btn" id="submit_button" value="Submit">
        </div>
      </div>
      <input type="hidden" value="4866604" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="0753fda57a7b1848c403868a4cca43bb" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="7" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>