<ul class="breadcrumb breadcrumb-length-2" aria-hidden="true">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/organisations/">Organisations</a></li>
  <li class="breadcrumb-item">Recipient data</li>
</ul>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail">
  <div class="wFormHeader"></div>
  <div class="wForm" dir="ltr">
    <h1 class="wFormTitle">Recipient data</h1>

    <p>
      <span class="text-error">*</span> Required field
    </p>

    <div class="hintsBelow labelsAbove form-horizontal form b-margin-full b-padding-full" role="form">
      <h2>Your details</h2>
      <div class="form-group oneField field-container-D" id="project_ref-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField reqMark" for="project_ref">Project reference number (e.g. CS-0001)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="project_ref" name="project_ref" value="CS-" title="Project reference number (e.g. CS-0001)" maxlength="8" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="actions form-group">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <a href="#" class="btn" id="submit_button" disabled>Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var valid = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 67, 83, 99, 115, 37, 39, 111, 79, 46, 35, 36, 45];
  $('#project_ref')
  .on('keydown', function(evt) {
    if (evt.ctrlKey) {
      return;
    }
  })
  .on('keyup', checkProject)
  .on('change', checkProject)
  .on('paste', function(evt) {
    setTimeout(function() {
      checkProject(evt);
    }, 0);
  })
  .select();

  function checkProject(evt) {
    var projectId = evt.target.value = evt.target.value.toUpperCase();
    if (evt.ctrlKey || projectId.match(/^CS-[0-9]{2,3}/)) {
      var url = '/forms/recipient-data/' + projectId;
      $('#submit_button')
        .removeAttr('disabled', false)
        .attr('href', url);
      if (evt.which === 13) {
        window.location.href = url;
      }
    } else {
      $('#submit_button')
      .attr('disabled', true)
      .attr('href', '');
    }
  }

})
</script>