<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=82d5a95104920de97db207ba606ec03573ed599c" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<link rel="stylesheet" type="text/css" href="https://www.tfaforms.com/css/kalendae.css" />
<script type="text/javascript" src="https://www.tfaforms.com/js/kalendae/kalendae.standalone.min.js" ></script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms_calendar.js"></script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=82d5a95104920de97db207ba606ec03573ed599c"></script>

<ul class="breadcrumb breadcrumb-length-2" aria-hidden="true">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/organisations/">Organisations</a></li>
  <li class="breadcrumb-item">Recipient data</li>
</ul>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail">
  {{#withExtend this project=@root.data.project_data.request.data.data_object.get_data.records.[0]}}
  {{#if project}}
  <div class="wFormHeader"></div>
  <div class="wForm" id="4866619-WRPR" dir="ltr">
    <div class="codesection" id="code-4866619"></div>
    <h1 class="wFormTitle" id="4866619-T">Recipient data</h1>

    <p>
      <span class="text-error">*</span> Required field
    </p>

    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form-horizontal form b-margin-full b-padding-full" id="4866619" role="form">
      <h2>Your details</h2>
      <div class="form-group oneField field-container-D" id="tfa_4-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">Project reference number {{#unless @root.request.params.project_ref}}(e.g. CS-0001){{/unless}}</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_4" name="tfa_4" value="{{@root.request.params.project_ref}}" autocomplete="nope" data-lpignore="true" class="form-input required" required {{#if @root.request.params.project_ref}}readonly{{/if}}>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_2-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_2-L" class="form-label preField reqMark" for="tfa_2">Your organisation</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_2" name="tfa_2" value="{{project.Name_of_Organisation__c}}" autocomplete="nope" data-lpignore="true" class="form-input required" required {{#if project.Name_of_Organisation__c}}readonly{{/if}}>
          <p class="caption">
            If these details are incorrect, please go back and <a href="/forms/recipient-data">enter your correct project reference number</a> or email <a href="mailto:help@connecting.scot">help@connecting.scot</a> if the issue persists
          </p>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_1-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">Your first name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_1" name="tfa_1" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_276-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_276-L" class="form-label preField reqMark" for="tfa_276">Your last name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_276" name="tfa_276" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_3-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Your email address</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_3" name="tfa_3" value="" title="Please enter a valid email address" autocomplete="nope" data-lpignore="true" class="form-input required" required>
        </div>
      </div>
      <div id="tfa_277" class="section">
        <h2 id="tfa_277-L h3">Recipient details</h2>
        <div class="form-group oneField field-container-D" id="tfa_5-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_5-L" class="form-label preField reqMark" for="tfa_5">First name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_5" name="tfa_5" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_6-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_6-L" class="form-label preField reqMark" for="tfa_6">Last name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_6" name="tfa_6" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_7-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_7-L" class="form-label preField " for="tfa_7">Phone number</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_7" name="tfa_7" value="" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_8-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_8-L" class="form-label preField " for="tfa_8">Date of birth</label>
          </div>
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_8" name="tfa_8" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_9-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_9-L" class="form-label preField " for="tfa_9">Email address</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_9" name="tfa_9" value="" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_10-D" role="radiogroup" aria-labelledby="tfa_10-L" data-tfa-labelledby="-L tfa_10-L">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_10-L" class="form-label preField reqMark">Support for Individual or Household</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <span id="tfa_10" class="choices vertical ">
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_11-L" for="tfa_11">
                  <input type="radio" value="tfa_11" id="tfa_11" name="tfa_10" aria-labelledby="tfa_11-L" data-tfa-labelledby="tfa_10-L tfa_11-L">
                  <span class="form-icon"></span>
                  Individual
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_12-L" for="tfa_12">
                  <input type="radio" value="tfa_12" id="tfa_12" name="tfa_10" aria-labelledby="tfa_12-L" data-tfa-labelledby="tfa_10-L tfa_12-L">
                  <span class="form-icon"></span>
                  Household
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_13-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_13-L" class="form-label preField reqMark" for="tfa_13">Does the recipient have a disability?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_13" name="tfa_13" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_14" id="tfa_14">Yes</option>
              <option value="tfa_15" id="tfa_15">No</option>
              <option value="tfa_16" id="tfa_16">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_17-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_17-L" class="form-label preField reqMark" for="tfa_17">Which project criteria group does the individual meet?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_17" name="tfa_17" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_18" id="tfa_18">Extremely high vulnerability to coronavirus (shielding group)</option>
              <option value="tfa_19" id="tfa_19">High risk to coronavirus</option>
              <option value="tfa_20" id="tfa_20">Households with children</option>
              <option value="tfa_21" id="tfa_21">Care leavers</option>
              <option value="tfa_299" id="tfa_299">Older and/or disabled people</option>
              <option value="tfa_22" id="tfa_22">Other vulnerability</option>
            </select>
          </div>
        </div>
        <h2>Recipient address</h2>
        <div class="form-group oneField field-container-D" id="tfa_23-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_23-L" class="form-label preField reqMark" for="tfa_23">Address line 1</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_23" name="tfa_23" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_24-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_24-L" class="form-label preField " for="tfa_24">Address line 2</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_24" name="tfa_24" value="" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_25-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_25-L" class="form-label preField " for="tfa_25">Address line 3</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_25" name="tfa_25" value="" autocomplete="nope" data-lpignore="true" class="form-input">
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_26-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_26-L" class="form-label preField reqMark" for="tfa_26">Town/city</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_26" name="tfa_26" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_27-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_27-L" class="form-label preField reqMark" for="tfa_27">Postcode</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_27" name="tfa_27" value="" title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" autocomplete="nope" data-lpignore="true" class="form-input required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_28-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_28-L" class="form-label preField reqMark" for="tfa_28">Local authority</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_28" name="tfa_28" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_29" id="tfa_29">Aberdeen</option>
              <option value="tfa_30" id="tfa_30">Aberdeenshire</option>
              <option value="tfa_31" id="tfa_31">Angus</option>
              <option value="tfa_32" id="tfa_32">Argyll &amp; Bute</option>
              <option value="tfa_33" id="tfa_33">Clackmannanshire</option>
              <option value="tfa_34" id="tfa_34">Dumfries &amp; Galloway</option>
              <option value="tfa_35" id="tfa_35">Dundee</option>
              <option value="tfa_36" id="tfa_36">East Ayrshire</option>
              <option value="tfa_37" id="tfa_37">East Dunbartonshire</option>
              <option value="tfa_38" id="tfa_38">East Lothian</option>
              <option value="tfa_39" id="tfa_39">East Renfrewshire</option>
              <option value="tfa_40" id="tfa_40">Edinburgh</option>
              <option value="tfa_41" id="tfa_41">Falkirk</option>
              <option value="tfa_42" id="tfa_42">Fife</option>
              <option value="tfa_43" id="tfa_43">Glasgow</option>
              <option value="tfa_44" id="tfa_44">Highland</option>
              <option value="tfa_45" id="tfa_45">Inverclyde</option>
              <option value="tfa_46" id="tfa_46">Midlothian</option>
              <option value="tfa_47" id="tfa_47">Moray</option>
              <option value="tfa_48" id="tfa_48">Na h-Eileanan Siar</option>
              <option value="tfa_49" id="tfa_49">North Ayrshire</option>
              <option value="tfa_50" id="tfa_50">North Lanarkshire</option>
              <option value="tfa_51" id="tfa_51">Orkney</option>
              <option value="tfa_52" id="tfa_52">Perth &amp; Kinross</option>
              <option value="tfa_53" id="tfa_53">Renfrewshire</option>
              <option value="tfa_54" id="tfa_54">Scottish Borders</option>
              <option value="tfa_55" id="tfa_55">Shetland</option>
              <option value="tfa_56" id="tfa_56">South Ayrshire</option>
              <option value="tfa_57" id="tfa_57">South Lanarkshire</option>
              <option value="tfa_58" id="tfa_58">Stirling</option>
              <option value="tfa_59" id="tfa_59">West Dunbartonshire</option>
              <option value="tfa_60" id="tfa_60">West Lothian</option>
            </select>
          </div>
        </div>
        <h2>Does the household have existing access to</h2>
        <div class="form-group oneField field-container-D" id="tfa_61-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_61-L" class="form-label preField reqMark" for="tfa_61">Mobile phone with access to the internet</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_61" name="tfa_61" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_62" id="tfa_62">Yes</option>
              <option value="tfa_63" id="tfa_63">No</option>
              <option value="tfa_64" id="tfa_64">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_65-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_65-L" class="form-label preField reqMark" for="tfa_65">Home broadband</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_65" name="tfa_65" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_66" id="tfa_66">Yes</option>
              <option value="tfa_67" id="tfa_67">No</option>
              <option value="tfa_68" id="tfa_68">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_69-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_69-L" class="form-label preField reqMark" for="tfa_69">A tablet computer</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_69" name="tfa_69" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_70" id="tfa_70">Yes</option>
              <option value="tfa_71" id="tfa_71">No</option>
              <option value="tfa_72" id="tfa_72">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_73-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_73-L" class="form-label preField reqMark" for="tfa_73">A laptop or PC</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_73" name="tfa_73" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_74" id="tfa_74">Yes</option>
              <option value="tfa_75" id="tfa_75">No</option>
              <option value="tfa_76" id="tfa_76">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_77-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_77-L" class="form-label preField reqMark" for="tfa_77">Estimated level of digital skills and confidence</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_77" name="tfa_77" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_78" id="tfa_78">None</option>
              <option value="tfa_79" id="tfa_79">Low</option>
              <option value="tfa_80" id="tfa_80">Average</option>
              <option value="tfa_81" id="tfa_81">High</option>
            </select>
          </div>
        </div>
        <h2>Household members - adults</h2>
        <div class="form-group oneField field-container-D" id="tfa_82-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_82-L" class="form-label preField reqMark" for="tfa_82">Number of Adults aged 16-25</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_82" name="tfa_82" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_282" id="tfa_282">0</option>
              <option value="tfa_83" id="tfa_83">1</option>
              <option value="tfa_84" id="tfa_84">2</option>
              <option value="tfa_85" id="tfa_85">3</option>
              <option value="tfa_86" id="tfa_86">4</option>
              <option value="tfa_87" id="tfa_87">5</option>
              <option value="tfa_88" id="tfa_88">More than 5</option>
              <option value="tfa_89" id="tfa_89">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_98-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_98-L" class="form-label preField reqMark" for="tfa_98">Number of Adults aged 26-40</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_98" name="tfa_98" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_283" id="tfa_283">0</option>
              <option value="tfa_99" id="tfa_99">1</option>
              <option value="tfa_100" id="tfa_100">2</option>
              <option value="tfa_101" id="tfa_101">3</option>
              <option value="tfa_102" id="tfa_102">4</option>
              <option value="tfa_103" id="tfa_103">5</option>
              <option value="tfa_104" id="tfa_104">More than 5</option>
              <option value="tfa_105" id="tfa_105">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_114-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_114-L" class="form-label preField reqMark" for="tfa_114">Number of Adults aged 41-60</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_114" name="tfa_114" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_280" id="tfa_280">0</option>
              <option value="tfa_115" id="tfa_115">1</option>
              <option value="tfa_116" id="tfa_116">2</option>
              <option value="tfa_117" id="tfa_117">3</option>
              <option value="tfa_118" id="tfa_118">4</option>
              <option value="tfa_119" id="tfa_119">5</option>
              <option value="tfa_120" id="tfa_120">More than 5</option>
              <option value="tfa_121" id="tfa_121">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_130-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_130-L" class="form-label preField reqMark" for="tfa_130">Number of Adults aged 61-70</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_130" name="tfa_130" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_281" id="tfa_281">0</option>
              <option value="tfa_131" id="tfa_131">1</option>
              <option value="tfa_132" id="tfa_132">2</option>
              <option value="tfa_133" id="tfa_133">3</option>
              <option value="tfa_134" id="tfa_134">4</option>
              <option value="tfa_135" id="tfa_135">5</option>
              <option value="tfa_136" id="tfa_136">More than 5</option>
              <option value="tfa_137" id="tfa_137">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_146-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_146-L" class="form-label preField reqMark" for="tfa_146">Number of Adults aged 71-80</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_146" name="tfa_146" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_279" id="tfa_279">0</option>
              <option value="tfa_147" id="tfa_147">1</option>
              <option value="tfa_148" id="tfa_148">2</option>
              <option value="tfa_149" id="tfa_149">3</option>
              <option value="tfa_150" id="tfa_150">4</option>
              <option value="tfa_151" id="tfa_151">5</option>
              <option value="tfa_152" id="tfa_152">More than 5</option>
              <option value="tfa_153" id="tfa_153">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_162-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_162-L" class="form-label preField reqMark" for="tfa_162">Number of Adults aged 81+</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_162" name="tfa_162" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_278" id="tfa_278">0</option>
              <option value="tfa_163" id="tfa_163">1</option>
              <option value="tfa_164" id="tfa_164">2</option>
              <option value="tfa_165" id="tfa_165">3</option>
              <option value="tfa_166" id="tfa_166">4</option>
              <option value="tfa_167" id="tfa_167">5</option>
              <option value="tfa_168" id="tfa_168">More than 5</option>
              <option value="tfa_169" id="tfa_169">Unknown</option>
            </select>
          </div>
        </div>
        <h2>Household members - children</h2>
        {{!-- <div class="form-group oneField field-container-D" id="tfa_170-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
        <label id="tfa_170-L" class="form-label preField reqMark" for="tfa_170">Total number of children in household</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <input type="text" id="tfa_170" name="tfa_170" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
    </div>
  </div> --}}
  <div class="form-group oneField field-container-D" id="tfa_300-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_300-L" class="form-label preField reqMark" for="tfa_300">Total number of children in household</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_300" name="tfa_300" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_672" id="tfa_672" class="">0</option>
        <option value="tfa_301" id="tfa_301" data-conditionals="#tfa_311" class="">1</option>
        <option value="tfa_302" id="tfa_302" data-conditionals="#tfa_349,#tfa_311" class="">2</option>
        <option value="tfa_303" id="tfa_303" data-conditionals="#tfa_387,#tfa_349,#tfa_311" class="">3</option>
        <option value="tfa_304" id="tfa_304" data-conditionals="#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">4</option>
        <option value="tfa_305" id="tfa_305" data-conditionals="#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">5</option>
        <option value="tfa_306" id="tfa_306" data-conditionals="#tfa_501,#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">6</option>
        <option value="tfa_307" id="tfa_307" data-conditionals="#tfa_539,#tfa_501,#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">7</option>
        <option value="tfa_308" id="tfa_308" data-conditionals="#tfa_577,#tfa_539,#tfa_501,#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">8</option>
        <option value="tfa_309" id="tfa_309" data-conditionals="#tfa_615,#tfa_577,#tfa_539,#tfa_501,#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">9</option>
        <option value="tfa_310" id="tfa_310" data-conditionals="#tfa_653,#tfa_615,#tfa_577,#tfa_539,#tfa_501,#tfa_463,#tfa_425,#tfa_387,#tfa_349,#tfa_311" class="">10</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_311-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_311-L" class="form-label preField reqMark" for="tfa_311">Age of first child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_311" name="tfa_311" data-condition="`#tfa_301` OR `#tfa_302` OR `#tfa_303` OR `#tfa_304` OR `#tfa_305` OR `#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of first child"  class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_312" id="tfa_312" class="">Unknown</option>
        <option value="tfa_313" id="tfa_313" class="">Under 1</option>
        <option value="tfa_314" id="tfa_314" class="">1</option>
        <option value="tfa_315" id="tfa_315" class="">2</option>
        <option value="tfa_316" id="tfa_316" class="">3</option>
        <option value="tfa_317" id="tfa_317" class="">4</option>
        <option value="tfa_318" id="tfa_318" class="">5</option>
        <option value="tfa_319" id="tfa_319" class="">6</option>
        <option value="tfa_320" id="tfa_320" class="">7</option>
        <option value="tfa_321" id="tfa_321" class="">8</option>
        <option value="tfa_322" id="tfa_322" class="">9</option>
        <option value="tfa_323" id="tfa_323" class="">10</option>
        <option value="tfa_324" id="tfa_324" class="">11</option>
        <option value="tfa_325" id="tfa_325" class="">12</option>
        <option value="tfa_326" id="tfa_326" class="">13</option>
        <option value="tfa_327" id="tfa_327" class="">14</option>
        <option value="tfa_328" id="tfa_328" class="">15</option>
        <option value="tfa_329" id="tfa_329" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_349-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_349-L" class="form-label preField reqMark" for="tfa_349">Age of second child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_349" name="tfa_349" data-condition="`#tfa_302` OR `#tfa_303` OR `#tfa_304` OR `#tfa_305` OR `#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of second child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_350" id="tfa_350" class="">Unknown</option>
        <option value="tfa_351" id="tfa_351" class="">Under 1</option>
        <option value="tfa_352" id="tfa_352" class="">1</option>
        <option value="tfa_353" id="tfa_353" class="">2</option>
        <option value="tfa_354" id="tfa_354" class="">3</option>
        <option value="tfa_355" id="tfa_355" class="">4</option>
        <option value="tfa_356" id="tfa_356" class="">5</option>
        <option value="tfa_357" id="tfa_357" class="">6</option>
        <option value="tfa_358" id="tfa_358" class="">7</option>
        <option value="tfa_359" id="tfa_359" class="">8</option>
        <option value="tfa_360" id="tfa_360" class="">9</option>
        <option value="tfa_361" id="tfa_361" class="">10</option>
        <option value="tfa_362" id="tfa_362" class="">11</option>
        <option value="tfa_363" id="tfa_363" class="">12</option>
        <option value="tfa_364" id="tfa_364" class="">13</option>
        <option value="tfa_365" id="tfa_365" class="">14</option>
        <option value="tfa_366" id="tfa_366" class="">15</option>
        <option value="tfa_367" id="tfa_367" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_387-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_387-L" class="form-label preField reqMark" for="tfa_387">Age of third child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_387" name="tfa_387" data-condition="`#tfa_303` OR `#tfa_304` OR `#tfa_305` OR `#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of third child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_388" id="tfa_388" class="">Unknown</option>
        <option value="tfa_389" id="tfa_389" class="">Under 1</option>
        <option value="tfa_390" id="tfa_390" class="">1</option>
        <option value="tfa_391" id="tfa_391" class="">2</option>
        <option value="tfa_392" id="tfa_392" class="">3</option>
        <option value="tfa_393" id="tfa_393" class="">4</option>
        <option value="tfa_394" id="tfa_394" class="">5</option>
        <option value="tfa_395" id="tfa_395" class="">6</option>
        <option value="tfa_396" id="tfa_396" class="">7</option>
        <option value="tfa_397" id="tfa_397" class="">8</option>
        <option value="tfa_398" id="tfa_398" class="">9</option>
        <option value="tfa_399" id="tfa_399" class="">10</option>
        <option value="tfa_400" id="tfa_400" class="">11</option>
        <option value="tfa_401" id="tfa_401" class="">12</option>
        <option value="tfa_402" id="tfa_402" class="">13</option>
        <option value="tfa_403" id="tfa_403" class="">14</option>
        <option value="tfa_404" id="tfa_404" class="">15</option>
        <option value="tfa_405" id="tfa_405" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_425-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_425-L" class="form-label preField reqMark" for="tfa_425">Age of fourth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_425" name="tfa_425" data-condition="`#tfa_304` OR `#tfa_305` OR `#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of fourth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_426" id="tfa_426" class="">Unknown</option>
        <option value="tfa_427" id="tfa_427" class="">Under 1</option>
        <option value="tfa_428" id="tfa_428" class="">1</option>
        <option value="tfa_429" id="tfa_429" class="">2</option>
        <option value="tfa_430" id="tfa_430" class="">3</option>
        <option value="tfa_431" id="tfa_431" class="">4</option>
        <option value="tfa_432" id="tfa_432" class="">5</option>
        <option value="tfa_433" id="tfa_433" class="">6</option>
        <option value="tfa_434" id="tfa_434" class="">7</option>
        <option value="tfa_435" id="tfa_435" class="">8</option>
        <option value="tfa_436" id="tfa_436" class="">9</option>
        <option value="tfa_437" id="tfa_437" class="">10</option>
        <option value="tfa_438" id="tfa_438" class="">11</option>
        <option value="tfa_439" id="tfa_439" class="">12</option>
        <option value="tfa_440" id="tfa_440" class="">13</option>
        <option value="tfa_441" id="tfa_441" class="">14</option>
        <option value="tfa_442" id="tfa_442" class="">15</option>
        <option value="tfa_443" id="tfa_443" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_463-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_463-L" class="form-label preField reqMark" for="tfa_463">Age of fifth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_463" name="tfa_463" data-condition="`#tfa_305` OR `#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of fifth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_464" id="tfa_464" class="">Unknown</option>
        <option value="tfa_465" id="tfa_465" class="">Under 1</option>
        <option value="tfa_466" id="tfa_466" class="">1</option>
        <option value="tfa_467" id="tfa_467" class="">2</option>
        <option value="tfa_468" id="tfa_468" class="">3</option>
        <option value="tfa_469" id="tfa_469" class="">4</option>
        <option value="tfa_470" id="tfa_470" class="">5</option>
        <option value="tfa_471" id="tfa_471" class="">6</option>
        <option value="tfa_472" id="tfa_472" class="">7</option>
        <option value="tfa_473" id="tfa_473" class="">8</option>
        <option value="tfa_474" id="tfa_474" class="">9</option>
        <option value="tfa_475" id="tfa_475" class="">10</option>
        <option value="tfa_476" id="tfa_476" class="">11</option>
        <option value="tfa_477" id="tfa_477" class="">12</option>
        <option value="tfa_478" id="tfa_478" class="">13</option>
        <option value="tfa_479" id="tfa_479" class="">14</option>
        <option value="tfa_480" id="tfa_480" class="">15</option>
        <option value="tfa_481" id="tfa_481" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_501-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_501-L" class="form-label preField reqMark" for="tfa_501">Age of sixth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_501" name="tfa_501" data-condition="`#tfa_306` OR `#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of sixth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_502" id="tfa_502" class="">Unknown</option>
        <option value="tfa_503" id="tfa_503" class="">Under 1</option>
        <option value="tfa_504" id="tfa_504" class="">1</option>
        <option value="tfa_505" id="tfa_505" class="">2</option>
        <option value="tfa_506" id="tfa_506" class="">3</option>
        <option value="tfa_507" id="tfa_507" class="">4</option>
        <option value="tfa_508" id="tfa_508" class="">5</option>
        <option value="tfa_509" id="tfa_509" class="">6</option>
        <option value="tfa_510" id="tfa_510" class="">7</option>
        <option value="tfa_511" id="tfa_511" class="">8</option>
        <option value="tfa_512" id="tfa_512" class="">9</option>
        <option value="tfa_513" id="tfa_513" class="">10</option>
        <option value="tfa_514" id="tfa_514" class="">11</option>
        <option value="tfa_515" id="tfa_515" class="">12</option>
        <option value="tfa_516" id="tfa_516" class="">13</option>
        <option value="tfa_517" id="tfa_517" class="">14</option>
        <option value="tfa_518" id="tfa_518" class="">15</option>
        <option value="tfa_519" id="tfa_519" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_539-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_539-L" class="form-label preField reqMark" for="tfa_539">Age of seventh child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_539" name="tfa_539" data-condition="`#tfa_307` OR `#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of seventh child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_540" id="tfa_540" class="">Unknown</option>
        <option value="tfa_541" id="tfa_541" class="">Under 1</option>
        <option value="tfa_542" id="tfa_542" class="">1</option>
        <option value="tfa_543" id="tfa_543" class="">2</option>
        <option value="tfa_544" id="tfa_544" class="">3</option>
        <option value="tfa_545" id="tfa_545" class="">4</option>
        <option value="tfa_546" id="tfa_546" class="">5</option>
        <option value="tfa_547" id="tfa_547" class="">6</option>
        <option value="tfa_548" id="tfa_548" class="">7</option>
        <option value="tfa_549" id="tfa_549" class="">8</option>
        <option value="tfa_550" id="tfa_550" class="">9</option>
        <option value="tfa_551" id="tfa_551" class="">10</option>
        <option value="tfa_552" id="tfa_552" class="">11</option>
        <option value="tfa_553" id="tfa_553" class="">12</option>
        <option value="tfa_554" id="tfa_554" class="">13</option>
        <option value="tfa_555" id="tfa_555" class="">14</option>
        <option value="tfa_556" id="tfa_556" class="">15</option>
        <option value="tfa_557" id="tfa_557" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_577-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_577-L" class="form-label preField reqMark" for="tfa_577">Age of eighth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_577" name="tfa_577" data-condition="`#tfa_308` OR `#tfa_309` OR `#tfa_310`" title="Age of eighth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_578" id="tfa_578" class="">Unknown</option>
        <option value="tfa_579" id="tfa_579" class="">Under 1</option>
        <option value="tfa_580" id="tfa_580" class="">1</option>
        <option value="tfa_581" id="tfa_581" class="">2</option>
        <option value="tfa_582" id="tfa_582" class="">3</option>
        <option value="tfa_583" id="tfa_583" class="">4</option>
        <option value="tfa_584" id="tfa_584" class="">5</option>
        <option value="tfa_585" id="tfa_585" class="">6</option>
        <option value="tfa_586" id="tfa_586" class="">7</option>
        <option value="tfa_587" id="tfa_587" class="">8</option>
        <option value="tfa_588" id="tfa_588" class="">9</option>
        <option value="tfa_589" id="tfa_589" class="">10</option>
        <option value="tfa_590" id="tfa_590" class="">11</option>
        <option value="tfa_591" id="tfa_591" class="">12</option>
        <option value="tfa_592" id="tfa_592" class="">13</option>
        <option value="tfa_593" id="tfa_593" class="">14</option>
        <option value="tfa_594" id="tfa_594" class="">15</option>
        <option value="tfa_595" id="tfa_595" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_615-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_615-L" class="form-label preField reqMark" for="tfa_615">Age of ninth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_615" name="tfa_615" data-condition="`#tfa_309` OR `#tfa_310`" title="Age of ninth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_616" id="tfa_616" class="">Unknown</option>
        <option value="tfa_617" id="tfa_617" class="">Under 1</option>
        <option value="tfa_618" id="tfa_618" class="">1</option>
        <option value="tfa_619" id="tfa_619" class="">2</option>
        <option value="tfa_620" id="tfa_620" class="">3</option>
        <option value="tfa_621" id="tfa_621" class="">4</option>
        <option value="tfa_622" id="tfa_622" class="">5</option>
        <option value="tfa_623" id="tfa_623" class="">6</option>
        <option value="tfa_624" id="tfa_624" class="">7</option>
        <option value="tfa_625" id="tfa_625" class="">8</option>
        <option value="tfa_626" id="tfa_626" class="">9</option>
        <option value="tfa_627" id="tfa_627" class="">10</option>
        <option value="tfa_628" id="tfa_628" class="">11</option>
        <option value="tfa_629" id="tfa_629" class="">12</option>
        <option value="tfa_630" id="tfa_630" class="">13</option>
        <option value="tfa_631" id="tfa_631" class="">14</option>
        <option value="tfa_632" id="tfa_632" class="">15</option>
        <option value="tfa_633" id="tfa_633" class="">16 and over</option>
      </select>
    </div>
  </div>
  <div class="form-group oneField field-container-D" id="tfa_653-D">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
      <label id="tfa_653-L" class="form-label preField reqMark" for="tfa_653">Age of tenth child</label>
    </div>
    <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <select id="tfa_653" name="tfa_653" data-condition="`#tfa_310`" title="Age of tenth child" class="form-select required" required>
        <option value="">Please select&hellip;</option>
        <option value="tfa_654" id="tfa_654" class="">Unknown</option>
        <option value="tfa_655" id="tfa_655" class="">Under 1</option>
        <option value="tfa_656" id="tfa_656" class="">1</option>
        <option value="tfa_657" id="tfa_657" class="">2</option>
        <option value="tfa_658" id="tfa_658" class="">3</option>
        <option value="tfa_659" id="tfa_659" class="">4</option>
        <option value="tfa_660" id="tfa_660" class="">5</option>
        <option value="tfa_661" id="tfa_661" class="">6</option>
        <option value="tfa_662" id="tfa_662" class="">7</option>
        <option value="tfa_663" id="tfa_663" class="">8</option>
        <option value="tfa_664" id="tfa_664" class="">9</option>
        <option value="tfa_665" id="tfa_665" class="">10</option>
        <option value="tfa_666" id="tfa_666" class="">11</option>
        <option value="tfa_667" id="tfa_667" class="">12</option>
        <option value="tfa_668" id="tfa_668" class="">13</option>
        <option value="tfa_669" id="tfa_669" class="">14</option>
        <option value="tfa_670" id="tfa_670" class="">15</option>
        <option value="tfa_671" id="tfa_671" class="">16 and over</option>
      </select>
    </div>
  </div>

  <h2>Device(s)</div>
    <fieldset id="tfa_187" class="section col-9 col-xl-12">
      <legend id="tfa_187-L h3">Device 1</legend>
      <div class="form-group oneField field-container-D" id="tfa_172-D">
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_172-L" class="form-label preField reqMark" for="tfa_172">Type</label>
        </div>
        <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_172" name="tfa_172" class="form-select required" required>
            <option value="" disabled selected>Please select&hellip;</option>
            <option value="tfa_173" id="tfa_173" data-conditionals="#tfa_284-D">Chromebook</option>
            <option value="tfa_174" id="tfa_174" data-conditionals="#tfa_284-D">Tablet</option>
            <option value="tfa_294" id="tfa_294">None</option>
          </select>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_284-D" data-condition="`#tfa_173` OR `#tfa_174`">
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_284-L" class="form-label preField reqMark" for="tfa_284">Serial Number</label>
        </div>
        <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_284" name="tfa_284" class="form-select required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_176-D">
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_176-L" class="form-label preField reqMark" for="tfa_176">Connectivity</label>
        </div>
        <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_176" name="tfa_176" class="form-select required" required>
            <option value="" disabled selected>Please select&hellip;</option>
            <option value="tfa_177" id="tfa_177">None</option>
            <option value="tfa_178" id="tfa_178" data-conditionals="#tfa_289-D">SIM only</option>
            <option value="tfa_179" id="tfa_179" data-conditionals="#tfa_289-D">SIM &amp; MiFi</option>
            <option value="tfa_180" id="tfa_180">Broadband</option>
          </select>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_289-D" data-condition="`#tfa_178` OR `#tfa_179`">
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_289-L" class="form-label preField reqMark" for="tfa_289">SIM Mobile Number</label>
        </div>
        <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_289" name="tfa_289" class="form-select required" required>
        </div>
      </div>
      <div class="form-group oneField field-container-D" id="tfa_171-D">
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_171-L" class="form-label preField " for="tfa_171">Date Delivered to Recipient</label>
        </div>
        <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
          <input type="text" id="tfa_171" name="tfa_171" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
          <i class="form-icon far fa-calendar-alt r-margin-full"></i>
        </div>
      </div>
    </fieldset>
    <div class="form-group oneField field-container-D" id="tfa_181-D">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
        <label id="tfa_181-L" class="form-label preField reqMark" for="tfa_181">How many additional devices do you wish to add for the same household?</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="tfa_181" name="tfa_181" class="form-select required" required>
          <option value="" disabled selected>Please select&hellip;</option>
          <option value="tfa_182" id="tfa_182">None</option>
          <option value="tfa_183" id="tfa_183" data-conditionals="#tfa_199">1</option>
          <option value="tfa_184" id="tfa_184" data-conditionals="#tfa_221,#tfa_199">2</option>
          <option value="tfa_185" id="tfa_185" data-conditionals="#tfa_243,#tfa_221,#tfa_199">3</option>
          <option value="tfa_186" id="tfa_186" data-conditionals="#tfa_265,#tfa_243,#tfa_221,#tfa_199">4</option>
        </select>
      </div>
      <fieldset id="tfa_199" class="section col-9 col-xl-12" data-condition="`#tfa_186` OR `#tfa_185` OR `#tfa_184` OR `#tfa_183`">
        <legend id="tfa_199-L h3">Device 2</legend>
        <div class="form-group oneField field-container-D" id="tfa_200-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_200-L" class="form-label preField reqMark" for="tfa_200">Type</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_200" name="tfa_200" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_201" id="tfa_201" data-conditionals="#tfa_285-D">Chromebook</option>
              <option value="tfa_202" id="tfa_202" data-conditionals="#tfa_285-D">Tablet</option>
              <option value="tfa_295" id="tfa_295">None</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_285-D" data-condition="`#tfa_201` OR `#tfa_202`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_285-L" class="form-label preField reqMark" for="tfa_285">Serial Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_285" name="tfa_285" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_204-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_204-L" class="form-label preField reqMark" for="tfa_204">Connectivity</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_204" name="tfa_204" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_205" id="tfa_205">None</option>
              <option value="tfa_206" id="tfa_206" data-conditionals="#tfa_290-D">SIM only</option>
              <option value="tfa_207" id="tfa_207" data-conditionals="#tfa_290-D">SIM &amp; MiFi</option>
              <option value="tfa_208" id="tfa_208">Broadband</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_290-D" data-condition="`#tfa_206` OR `#tfa_207`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_290-L" class="form-label preField reqMark" for="tfa_290">SIM Mobile Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_290" name="tfa_290" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_209-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_209-L" class="form-label preField " for="tfa_209">Date Delivered to Recipient</label>
          </div>
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_209" name="tfa_209" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
      </fieldset>
      <fieldset id="tfa_221" class="section col-9 col-xl-12" data-condition="`#tfa_186` OR `#tfa_185` OR `#tfa_184`">
        <legend id="tfa_221-L h3">Device 3</legend>
        <div class="form-group oneField field-container-D" id="tfa_222-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_222-L" class="form-label preField reqMark" for="tfa_222">Type</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_222" name="tfa_222" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_223" id="tfa_223" data-conditionals="#tfa_286-D">Chromebook</option>
              <option value="tfa_224" id="tfa_224" data-conditionals="#tfa_286-D">Tablet</option>
              <option value="tfa_296" id="tfa_296">None</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_286-D" data-condition="`#tfa_223` OR `#tfa_224`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_286-L" class="form-label preField reqMark" for="tfa_286">Serial Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_286" name="tfa_286" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_226-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_226-L" class="form-label preField reqMark" for="tfa_226">Connectivity</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_226" name="tfa_226" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_227" id="tfa_227">None</option>
              <option value="tfa_228" id="tfa_228" data-conditionals="#tfa_291-D">SIM only</option>
              <option value="tfa_229" id="tfa_229" data-conditionals="#tfa_291-D">SIM &amp; MiFi</option>
              <option value="tfa_230" id="tfa_230">Broadband</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_291-D" data-condition="`#tfa_228` OR `#tfa_229`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_291-L" class="form-label preField reqMark" for="tfa_291">SIM Mobile Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_291" name="tfa_291" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_231-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_231-L" class="form-label preField " for="tfa_231">Date Delivered to Recipient</label>
          </div>
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_231" name="tfa_231" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
      </fieldset>
      <fieldset id="tfa_243" class="section col-9 col-xl-12" data-condition="`#tfa_185` OR `#tfa_186`">
        <legend id="tfa_243-L h3">Device 4</legend>
        <div class="form-group oneField field-container-D" id="tfa_244-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_244-L" class="form-label preField reqMark" for="tfa_244">Type</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_244" name="tfa_244" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_245" id="tfa_245" data-conditionals="#tfa_287-D">Chromebook</option>
              <option value="tfa_246" id="tfa_246" data-conditionals="#tfa_287-D">Tablet</option>
              <option value="tfa_297" id="tfa_297">None</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_287-D" data-condition="`#tfa_245` OR `#tfa_246`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_287-L" class="form-label preField reqMark" for="tfa_287">Serial Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_287" name="tfa_287" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_248-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_248-L" class="form-label preField reqMark" for="tfa_248">Connectivity</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_248" name="tfa_248" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_249" id="tfa_249">None</option>
              <option value="tfa_250" id="tfa_250" data-conditionals="#tfa_292-D">SIM only</option>
              <option value="tfa_251" id="tfa_251" data-conditionals="#tfa_292-D">SIM &amp; MiFi</option>
              <option value="tfa_252" id="tfa_252">Broadband</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_292-D" data-condition="`#tfa_250` OR `#tfa_251`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_292-L" class="form-label preField reqMark" for="tfa_292">SIM Mobile Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_292" name="tfa_292" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_253-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_253-L" class="form-label preField " for="tfa_253">Date Delivered to Recipient</label>
          </div>
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_253" name="tfa_253" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
      </fieldset>
      <fieldset id="tfa_265" class="section col-9 col-xl-12" data-condition="`#tfa_186`">
        <legend id="tfa_265-L h3">Device 5</legend>
        <div class="form-group oneField field-container-D" id="tfa_266-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_266-L" class="form-label preField reqMark" for="tfa_266">Type</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_266" name="tfa_266" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_267" id="tfa_267" data-conditionals="#tfa_288-D">Chromebook</option>
              <option value="tfa_268" id="tfa_268" data-conditionals="#tfa_288-D">Tablet</option>
              <option value="tfa_298" id="tfa_298">None</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_288-D" data-condition="`#tfa_267` OR `#tfa_268`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_288-L" class="form-label preField reqMark" for="tfa_288">Serial Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_288" name="tfa_288" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_270-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_270-L" class="form-label preField reqMark" for="tfa_270">Connectivity</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_270" name="tfa_270" class="form-select required" required>
              <option value="" disabled selected>Please select&hellip;</option>
              <option value="tfa_271" id="tfa_271">None</option>
              <option value="tfa_272" id="tfa_272" data-conditionals="#tfa_293-D">SIM only</option>
              <option value="tfa_273" id="tfa_273" data-conditionals="#tfa_293-D">SIM &amp; MiFi</option>
              <option value="tfa_274" id="tfa_274">Broadband</option>
            </select>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_293-D" data-condition="`#tfa_272` OR `#tfa_273`">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_293-L" class="form-label preField reqMark" for="tfa_293">SIM Mobile Number</label>
          </div>
          <div class="col-8 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_293" name="tfa_293" class="form-select required" required>
          </div>
        </div>
        <div class="form-group oneField field-container-D" id="tfa_275-D">
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_275-L" class="form-label preField " for="tfa_275">Date Delivered to Recipient</label>
          </div>
          <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 has-icon-right">
            <input type="text" id="tfa_275" name="tfa_275" value="" autocomplete="off" data-lpignore="true" class="validate-datecal c-hand form-input">
            <i class="form-icon far fa-calendar-alt r-margin-full"></i>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="actions form-group" id="0-A">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">&nbsp;</div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input type="submit" data-label="Submit" class="btn" id="submit_button" value="Submit">
      </div>
    </div>
    <input type="hidden" value="4866619" name="tfa_dbFormId" id="tfa_dbFormId">
    <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
    <input type="hidden" value="79e273d4dc658294917262e40dc78108" name="tfa_dbControl" id="tfa_dbControl">
    <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
    <input type="hidden" value="11" name="tfa_dbVersionId" id="tfa_dbVersionId">
    <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
  </form>
</div>
{{else}}
<h2>Error</h2>
<p>
  The project reference number could not be recognised, please try again or email <a href="mailto:help@connecting.scot">help@connecting.scot</a> quoting the web address of this page.
</p>
{{/if}}
{{/withExtend}}
</div>
</div>