<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=b3dbb0b0a161d7f4393e5dfd183388645a8230bd" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=b3dbb0b0a161d7f4393e5dfd183388645a8230bd"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=b3dbb0b0a161d7f4393e5dfd183388645a8230bd"></script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer detail">
  <div class="wForm" id="4869180-WRPR" dir="ltr">
    <div class="codesection" id="code-4869180"></div>
    <div class="columns">
      <div class="column col-8 col-md-12 r-padding-full">
        <h1 class="wFormTitle" id="4869180-T">Apply</h1>

        <h2>Introduction</h2>
        <p>
          This application form is for organisations to apply for support. Individuals are currently unable to directly apply for a device. <a href="/for-individuals">Find out more about support for individuals</a>.
        </p>
        <p>
          You should read the <a href="/for-organisations/application-guidance">application guidance</a> before filling in this form. It covers:
        </p>
        <ul>
          <li>
            Connecting Scotland’s aims
          </li>
          <li>
            the commitment we expect your organisation to make
          </li>
          <li>
            how we’ll assess your application
          </li>
          <li>
            what happens after you submit your application
          </li>
        </ul>
        <p>
          Applications will be assessed after the closing date on <strong>18th January 2021</strong> (at 11am). We would expect decisions on awards to be made by the end of February and devices to be distributed from early March.
        </p>
        <p>
          If you have any problems applying, please email <a href="mailto:help@connecting.scot">help@connecting.scot</a>
        </p>
        <p class="t-padding-full">
          <span class="text-error">*</span> Required field
        </p>
      </div>
      <div class="column col-4 col-md-6 hide-sm l-padding-full">
        <h1>&nbsp;</h1>
        <ul class="side-nav t-padding">
          {{#each (getProperty @root.context.metaData.menus (itemAt (split @root.request.params.path '_') 0)) ~}}
          <li><a class="{{#if (regexMatch @root.request.url.pathname route 'gi')}}active{{/if}}" href="{{path}}"><span class="mdc-tab--label">{{{label}}}</span></a></li>
          {{/each ~}}
        </ul>
      </div>
    </div>

    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove form-horizontal form b-margin-full b-padding-full" id="4869180" role="form">
      <div class="wfPage" id="wfPgIndex-1">
        <div class="section pageSection" id="tfa_110">
          <h2>About you</h2>
          <div class="form-group oneField field-container-D" id="tfa_1-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">First name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_1" name="tfa_1" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_90-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_90-L" class="form-label preField reqMark" for="tfa_90">Last name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_90" name="tfa_90" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_2-L" class="form-label preField reqMark" for="tfa_2">Job title</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_2" name="tfa_2" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_3-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Email address</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_3" name="tfa_3" value="" title="Please enter a valid email address" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_4-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">Phone number</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_4" name="tfa_4" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_5-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_5-L" class="form-label preField reqMark" for="tfa_5">Organisation name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_5" name="tfa_5" value="" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_11-D" role="radiogroup" aria-labelledby="tfa_11-L" data-tfa-labelledby="-L tfa_11-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_11-L" class="form-label preField reqMark">Sector</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_11" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-radio postField" id="tfa_12-L" for="tfa_12">
                    <input type="radio" value="tfa_12" id="tfa_12" name="tfa_11" aria-labelledby="tfa_12-L" data-tfa-labelledby="tfa_11-L tfa_12-L">
                    <span class="form-icon"></span>
                    Public sector
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-radio postField" id="tfa_14-L" for="tfa_14">
                    <input type="radio" value="tfa_14" id="tfa_14" name="tfa_11" aria-labelledby="tfa_14-L" data-tfa-labelledby="tfa_11-L tfa_14-L">
                    <span class="form-icon"></span>
                    Voluntary sector
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="columns">
            <div class="column col-9 col-xl-8 col-md-12">
              <h2>Local council area</h2>
              <p>
                Each local council has devices allocated to them to distribute to people living in their area. Some areas have limited allocation remaining following the first round, so <a href="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2020/11/CS_Phase2_Round2_allocations.pdf" target="_blank">please check the allocation available to ensure your application does not exceed the number of devices available</a>.
              </p>
              <p>
                If your organisation works in more than one area, you’ll need to apply for each area.
              </p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_15-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_15-L" class="form-label preField reqMark" for="tfa_15">Which local authority area are you making this application for?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_15" name="tfa_15" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_16" id="tfa_16">Aberdeen</option>
                <option value="tfa_17" id="tfa_17">Aberdeenshire</option>
                <option value="tfa_18" id="tfa_18">Angus</option>
                <option value="tfa_19" id="tfa_19">Argyll &amp; Bute</option>
                <option value="tfa_20" id="tfa_20">Clackmannanshire</option>
                <option value="tfa_21" id="tfa_21">Dumfries &amp; Galloway</option>
                <option value="tfa_22" id="tfa_22">Dundee</option>
                <option value="tfa_23" id="tfa_23">East Ayrshire</option>
                <option value="tfa_24" id="tfa_24">East Dunbartonshire</option>
                <option value="tfa_25" id="tfa_25">East Lothian</option>
                <option value="tfa_26" id="tfa_26">East Renfrewshire</option>
                <option value="tfa_27" id="tfa_27">Edinburgh</option>
                <option value="tfa_28" id="tfa_28">Falkirk</option>
                <option value="tfa_29" id="tfa_29">Fife</option>
                <option value="tfa_30" id="tfa_30">Glasgow</option>
                <option value="tfa_31" id="tfa_31">Highland</option>
                <option value="tfa_32" id="tfa_32">Inverclyde</option>
                <option value="tfa_33" id="tfa_33">Midlothian</option>
                <option value="tfa_34" id="tfa_34">Moray</option>
                <option value="tfa_35" id="tfa_35">Na h-Eileanan Siar</option>
                <option value="tfa_36" id="tfa_36">North Ayrshire</option>
                <option value="tfa_37" id="tfa_37">North Lanarkshire</option>
                <option value="tfa_38" id="tfa_38">Orkney</option>
                <option value="tfa_39" id="tfa_39">Perth &amp; Kinross</option>
                <option value="tfa_40" id="tfa_40">Renfrewshire</option>
                <option value="tfa_41" id="tfa_41">Scottish Borders</option>
                <option value="tfa_42" id="tfa_42">Shetland</option>
                <option value="tfa_43" id="tfa_43">South Ayrshire</option>
                <option value="tfa_44" id="tfa_44">South Lanarkshire</option>
                <option value="tfa_45" id="tfa_45">Stirling</option>
                <option value="tfa_46" id="tfa_46">West Dunbartonshire</option>
                <option value="tfa_47" id="tfa_47">West Lothian</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-2">
        <div class="columns">
          <div class="column col-9 col-xl-8 col-md-12">
            <h2>Users</h2>
            <h3>About the people you want to support</h3>
            <p class="reqMark">
              How many people or households do you need devices for in each of the following categories? You should only count one person / household in one category.
            </p>
          </div>
        </div>
        <div class="section pageSection" id="tfa_111">
          <div class="form-group oneField field-container-D" id="tfa_112-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_112-L" class="form-label preField " for="tfa_112">Families with children (including pregnant women)</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_112" name="tfa_112" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_114-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_114-L" class="form-label preField " for="tfa_114">Care leavers</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_114" name="tfa_114" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_113-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_113-L" class="form-label preField " for="tfa_113">Other vulnerable people</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_113" name="tfa_113" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_115-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_115-L" class="form-label preField reqMark" for="tfa_115">What barriers do these people face to using the internet effectively? For example, the ability to afford devices or a connection to the internet and/or digital skills and confidence. How have you identified these needs?</label>
              <textarea data-maxwords="250" id="tfa_115" name="tfa_115" title="What barriers do these people face to using the internet effectively?" class="form-input count-words required" required></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_116-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_116-L" class="form-label preField reqMark" for="tfa_116">How have you found people that need support? If you have not found them yet, explain how you plan to do this.</label>
              <textarea data-maxwords="200" id="tfa_116" name="tfa_116" title="How have you found people that need support?" class="form-input count-words required" required></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_117-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_117-L" class="form-label preField reqMark" for="tfa_117">How do you currently work with these people?</label>
              <textarea data-maxwords="200" id="tfa_117" name="tfa_117" title="How do you currently work with these people?" class="form-input count-words required" required></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_118-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_118-L" class="form-label preField reqMark" for="tfa_118">Do you have any other information about the proposed users to support this application? For example, how the digital inclusion of these users will contribute to broader social inclusion or poverty reduction agendas.</label>
              <textarea data-maxwords="150" id="tfa_118" name="tfa_118" title="Do you have any other information about the proposed users to support this application?" class="form-input count-words required" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-3">
        <div class="section pageSection" id="tfa_119">
          <div class="columns">
            <div class="column col-9 col-xl-8 col-md-12">
              <h2>Devices and connecting to the internet</h2>
              <h3>Devices</h3>
              <p>
                People can be provided with either an iPad or Chromebook laptop. There’s more information on the benefits of each device in the <a href="/for-organisations/application-guidance" target="_blank">application guidance</a>. 
              </p>
              <p class="reqMark">
                How many of each type of device do you need? The total should not exceed the total number of people you will be supporting.
              </p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_120-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_120-L" class="form-label preField " for="tfa_120">Chromebooks</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_120" name="tfa_120" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_121-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_121-L" class="form-label preField " for="tfa_121">iPads</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_121" name="tfa_121" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
          <h3>Connecting to the internet</h3>
          <div class="form-group oneField field-container-D" id="tfa_122-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_122-L" class="form-label preField reqMark" for="tfa_122">People can also be provided with internet connectivity through a MiFi device with a data allowance. How many do you need?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="number" id="tfa_122" name="tfa_122" value="0" step="1" min="0" class="form-input required" required autocomplete="nope" data-lpignore="true">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-4">
        <div class="section pageSection" id="tfa_123">
          <div class="form-group oneField field-container-D" id="tfa_124-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_124-L" class="form-label preField " for="tfa_124">What previous experience does your organisation have helping people get online (e.g. supporting people to use digital devices)?</label>
              <textarea data-maxwords="200" id="tfa_124" name="tfa_124" class="form-input count-words"></textarea>
            </div>
          </div>
          <p class="reqMark">
            Do you have the resources and capacity to commit to:
          </p>
          <div class="form-group oneField field-container-D" id="tfa_125-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_125-L" class="form-label preField " for="tfa_125">Deliver devices to the people you’re supporting?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_125" name="tfa_125" class="form-select">
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_140" id="tfa_140">Yes</option>
                <option value="tfa_141" id="tfa_141">No</option>
                <option value="tfa_142" id="tfa_142">Not sure</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_129-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_129-L" class="form-label preField " for="tfa_129">Collect data to track where devices have been distributed?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_129" name="tfa_129" class="form-select">
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_143" id="tfa_143">Yes</option>
                <option value="tfa_144" id="tfa_144">No</option>
                <option value="tfa_145" id="tfa_145">Not sure</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_133-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_133-L" class="form-label preField " for="tfa_133">Evaluate the impact having this technology has had on people over the next year?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_133" name="tfa_133" class="form-select">
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_134" id="tfa_134">Yes</option>
                <option value="tfa_135" id="tfa_135">No</option>
                <option value="tfa_136" id="tfa_136">Not sure</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_146-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_146-L" class="form-label preField " for="tfa_146">How will your organisation distribute devices and capture basic information on the needs of the people receiving the support?</label>
              <textarea data-maxwords="200" id="tfa_146" name="tfa_146" class="form-input count-words"></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_147-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_147-L" class="form-label preField " for="tfa_147">Is your organisation able to commit staff or volunteers to do digital champions training?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_147" name="tfa_147" class="form-select">
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_148" id="tfa_148">Yes</option>
                <option value="tfa_149" id="tfa_149">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_150-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 pr">
              <label id="tfa_150-L" class="form-label preField " for="tfa_150">Can your organisation offer people regular, informal phone support for 6 months?</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <select id="tfa_150" name="tfa_150" class="form-select">
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_151" id="tfa_151">Yes</option>
                <option value="tfa_152" id="tfa_152">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_153-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_153-L" class="form-label preField " for="tfa_153">How will your organisation approach providing Digital Champion support to end users over a six-month period?</label>
              <textarea data-maxwords="250" id="tfa_153" name="tfa_153" class="form-input count-words"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="actions form-group" id="4869180-A">
        <div class="col-12">
          <input type="submit" data-label="Submit" class="btn" id="submit_button" value="Submit">
        </div>
      </div>
      <div style="clear:both"></div>
      <input type="hidden" value="4869180" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="d9c2661dc700791e6b807fb2addb32b1" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="3" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>